<header class="header">
  <a href="#main_content" class="header__skipToMainContent">Skip to main content</a>

  <div class="header__content">
    <div class="header__logoContainer">
      <a href="/" class="header__logoContainerLink" aria-label="Navigate to home page">
        {% include "logo.html" %}
        <span class="header__logoContainerLinkName">@whitep4nth3r</span>
      </a>
    </div>

    <nav class="header__nav" aria-label="primary">
      <ul class="header__navList">
        <li class="header__navListItem">
          <a href="/blog/" class="header__navListItemLink">Posts</a>
        </li>
        <li class="header__navListItem">
          <a href="/projects/" class="header__navListItemLink">Projects</a>
        </li>
        <li class="header__navListItem">
          <a href="/uses/" class="header__navListItemLink">Uses</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
