<a href="#main_content" class="header__skipToMainContent"> Skip to main content </a>

<header class="header">
  <div class="header__navGroup">
    <nav aria-label="primary">
      <ul class="header__navList" data-active="{{activeNav}}">
        <li class="header__navListItem">
          <a href="/" class="header__navListItemLink" data-link="home">Home</a>
        </li>
        <li class="header__navListItem">
          <a href="/about/" class="header__navListItemLink" data-link="about">About</a>
        </li>
        <li class="header__navListItem">
          <a href="/blog/" class="header__navListItemLink" data-link="blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
  <button type="button" class="header__themeToggle" data-theme-toggle aria-label="Change to light theme"></button>
</header>

<script>
  function updateButton({ buttonEl, isDark }) {
    buttonEl.classList = isDark ? "header__themeToggle" : "header__themeToggle header__themeToggle--light";

    const newAriaLabel = isDark ? "Change to light theme" : "Change to dark theme";

    buttonEl.setAttribute("aria-label", newAriaLabel);
  }

  function calculateSettingAsThemeString({ localStorageTheme, systemSettingDark }) {
    if (localStorageTheme !== null) {
      return localStorageTheme;
    }

    if (systemSettingDark.matches) {
      return "dark";
    }

    return "light";
  }

  function updateThemeOnHtmlEl({ theme }) {
    document.querySelector("html").setAttribute("color-mode", theme);
  }

  const toggleButton = document.querySelector("[data-theme-toggle]");
  const localStorageTheme = localStorage.getItem("theme");
  const systemSettingDark = window.matchMedia("(prefers-color-scheme: dark)");

  let currentThemeSetting = calculateSettingAsThemeString({
    localStorageTheme,
    systemSettingDark,
  });

  // update on page load
  updateButton({
    buttonEl: toggleButton,
    isDark: currentThemeSetting === "dark",
  });
  updateThemeOnHtmlEl({ theme: currentThemeSetting });

  // update on theme button click
  toggleButton.addEventListener("click", () => {
    const newTheme = currentThemeSetting === "dark" ? "light" : "dark";

    localStorage.setItem("theme", newTheme);
    updateButton({ buttonEl: toggleButton, isDark: newTheme === "dark" });
    updateThemeOnHtmlEl({ theme: newTheme });

    currentThemeSetting = newTheme;
  });
</script>
