<ul class="socialLinks">
  <li>
    <a href="https://github.com/whitep4nth3r" class="socialLinks__item" target="_blank" aria-label="View on GitHub"
      >Github</a
    >
  </li>
  <li>
    <a
      href="https://bsky.app/profile/whitep4nth3r.com"
      class="socialLinks__item bluesky-flutter"
      target="_blank"
      rel="me"
      aria-label="Follow on Bluesky"
      >Bluesky</a
    >
  </li>
  <li>
    <a
      href="https://youtube.com/whitep4nth3r"
      class="socialLinks__item"
      target="_blank"
      aria-label="Subscribe on YouTube"
      >YouTube</a
    >
  </li>
  <li>
    <a href="/discord" class="socialLinks__item" target="_blank" aria-label="Join Discord">Discord</a>
  </li>
  <li>
    <a href="/feed.xml" class="socialLinks__item" target="_blank" aria-label="Subscribe to RSS Feed">RSS</a>
  </li>
</ul>
