.about__socialLinks {
  max-width: var(--grid-max-width);
  margin: 2rem auto;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.about__socialLinksItem {
  @include button_main;
  gap: 0.5rem;
}

.about__me {
  display: block;

  @media screen and (min-width: 48em) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
  }
}

.about__meFace {
  margin-bottom: 2rem;
}

.about__meBio {
}

.about__events {
}

.about__eventsHeader {
  @include grid_header;
}

.about__eventsHeaderTitle {
  @include grid_header_title;
}
