.ais {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.ais__searchbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-areas:
    "label label"
    "input button";
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

.ais__hits--empty {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  @include font-heading;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ais__hitsList {
  @include grid;
  margin-left: auto;
  margin-right: auto;
}

.ais__hitsListItem {
  @include grid_item;
}

.ais__hitsListItem mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.ais__form {
  display: block;
}

.ais__label {
  grid-area: label;
  @include font-heading;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.ais__input {
  grid-area: input;
  @include font-main;
  background-color: var(--color-bg);
  border: 0.25rem solid var(--grey-dark);
  color: var(--color-fg);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.ais__input:focus {
  @include search_focus_style;
}

.ais__input::placeholder {
  color: #bbb;
}

.ais__reset {
  grid-area: button;
  @include button-main;
  display: inline;
  border-radius: 0;
  padding: 0.6rem 1rem;
  border: 0.125rem solid var(--grey-dark);
  width: max-content;
}

.ais__reset:focus {
  @include search_focus_style;
}
