.ais {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

// .ais__hits {
// }

.ais__hits--empty {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  @include font-heading;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ais__hitsList {
  @include grid;
  margin-left: auto;
  margin-right: auto;
}

.ais__hitsListItem {
  @include grid_item;
}

.ais__hitsListItem mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.ais__form {
  display: block;
  position: relative;
  width: 100%;
}

.ais__label {
  @include font-heading;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.ais__input {
  @include font-main;
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-bg-lighter);
  color: var(--color-fg);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .ais__input {
    width: 50%;
  }
}

.ais__input:focus {
  outline-color: transparent;
  box-shadow: var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease 0.2s;
}

.ais__input::placeholder {
  color: #bbb;
}

.ais__reset {
  @include button-grey;
  display: inline;
  border-radius: 0;
  padding: 0.6rem 1rem;
  border: 0.125rem solid var(--color-bg-lighter);
}

.ais__reset:focus {
  outline-color: transparent;
  box-shadow: var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease 0.2s;
}
