.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bio__buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  z-index: 3;
  margin-bottom: 2rem;
}

.bio__button {
  @include button_main;

  &:focus {
    outline: transparent;
    outline-style: solid;
    box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-highlight) 0 0 0 0.375rem;
    transition: box-shadow var(--global-transition-time) ease-in-out;
  }
}
.bio__button--selected {
  box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-highlight) 0 0 0 0.375rem;
}

.bio__block {
  display: none;

  h2 {
    @include font-heading;
    font-size: clamp(1.8rem, 2.8vw, 2rem);
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--color-highlight);
  }

  h3 {
    @include font-heading;
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--color-fg);
  }

  p {
    @include font-main;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: var(--color-fg);
  }
}

.bio__block--show {
  display: block;
}
