@mixin button_main() {
  @include font-heading;
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
}
