@mixin button-grey() {
  @include font-heading;
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
}
