.dashboard__header {
  @include grid_header;
}

.dashboard__headerTitle {
  @include grid_header_title;
}

.dashboard__container {
  max-width: var(--grid-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .dashboard__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
  }
}

.dashboard__content {
  display: flex;
  flex-direction: column;
}

.dashboard__aside {
  flex-direction: column;
  display: none;
}

.dashboard__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.dashboard__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .dashboard__aside {
    display: flex;
  }

  .dashboard__inlineAside {
    display: none;
  }
}

.dashboard__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.dashboard__gridItem {
  margin-bottom: 1rem;
}

.dashboard__gridItemTitle {
  @include font_bold;
  font-size: 1rem;
  margin-top: 1rem;
}

.dashboard__gridItemStatBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  line-height: 1;
}

.dashboard__gridItemIcon {
}

.dashboard__gridItemStat {
  @include font_bold;
  font-size: clamp(1.4rem, 4vw, 4rem);
  color: var(--color-highlight);
}
