.homeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeCard__title {
  @include font-heading;
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.homeCard__linkForTitle {
  text-decoration: none;
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.homeCard__excerpt p {
  @include font-main;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: block;
}

.homeCard__button {
  @include button-grey;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homeCard__buttonIcon {
  margin-right: 0.5rem;
}

.homeCard__buttonArrow {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}
