.post {
  max-width: var(--post-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .post {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
  }
}

.post__article {
  display: flex;
  flex-direction: column;
}

.post__aside {
  flex-direction: column;
  display: none;
}

.post__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.post__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .post__aside {
    display: flex;
  }

  .post__inlineAside {
    display: none;
  }
}

.post__body {
  margin-bottom: 2rem;
}

.post__hr {
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post__hr:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.post__h1 {
  @include font-heading;
  margin-bottom: 2rem;
  font-size: clamp(2.2rem, 3vw, 3rem);
  line-height: 1.2;
  color: var(--color-fg);
}

.post__h1:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 2rem;
  background: var(--yellow-red-gradient);
}

.post__h2 {
  @include font-heading;
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__h3 {
  @include font-heading;
  font-size: 1.4rem;
  line-height: 1.4;
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-highlight);
}

a.post__linkedHeaderIcon {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}

.post__h4,
.post__h5,
.post__h6 {
  @include font-main;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-fg);
}

.post__p {
  @include font-main;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
}

.post__p--bold {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.post__p--italic {
  font-style: italic;
}

.post__responsiveImage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post__codeBlock {
  margin-bottom: 1rem;
}

.post__blockquote {
  display: block;
  background-color: var(--color-fg);
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-base);
}

.post__blockquote p {
  color: var(--color-bg);
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: 37.5em) {
  .post__blockquote {
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }
}

.post__blockquote:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='44px' width='44px'%3E%3Cpath fill='%2382af3a' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z' /%3E%3C/svg%3E%0A");
}

.post__externalUrl,
.post__isSponsored {
  @include font-bold;
  margin-bottom: 2rem;
  max-width: max-content;
  background-color: var(--color-highlight);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--color-bg) !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.post__isSponsoredIcon,
.post__externalUrlIcon {
  margin-right: 0.5rem;
  display: flex;
}

.post__related {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__relatedHeader {
  @include font-bold;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
}
