.postCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postCard:before {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.postCard__meta {
  @include font-heading;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-fg);
}

.postCard__metaIcon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  color: var(--color-highlight);
}

.postCard__titleLink {
  @include font-heading;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.7rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postCard__titleLink--ais {
  display: block;
}

.postCard__topics {
  display: flex;
  flex-direction: column;
}
