.postCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  @include add_gradient_top;
}

.postCard__meta {
  @include font_heading;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.postCard__metaIcon {
  color: var(--color-highlight);
  display: flex;
}

.postCard__metaText {
  display: flex;
}

.postCard__titleLink {
  @include font_heading;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.7rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postCard__titleLink--ais {
  display: block;
}
