* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  @include font-main;
  font-size: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 2rem;
}

a {
  color: var(--color-link);
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: transparent;
  box-shadow: var(--color-link) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
  border-radius: var(--border-radius-base);
}

a:visited {
  color: var(--color-link);
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
  height: auto;
}
