.tableOfContents {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tableOfContents__list {
  list-style: none;
  padding: 0;
}

.tableOfContents__header {
  @include font-bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-highlight);
  cursor: pointer;
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  @include font-heading;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-fg);
  text-decoration: none;
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}
