.uses__header {
  @include grid_header;
}

.uses__headerTitle {
  @include grid_header_title;
}

.uses__container {
  max-width: var(--grid-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .uses__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
  }
}

.uses__inner {
  display: flex;
  flex-direction: column;
}

.uses__aside {
  flex-direction: column;
  display: none;
}

.uses__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.uses__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .uses__aside {
    display: flex;
  }

  .uses__inlineAside {
    display: none;
  }
}
