@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin search_focus_style {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  border-radius: 0;
  box-shadow: inset var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}
