@import "font";
@import "root";
@import "reset";
@import "keyframes";

@import "button";

@import "grid";
@import "utils";

@import "header";
@import "footer";
@import "topics";
@import "post";
@import "pagination";
@import "published-date";
@import "table-of-contents";
@import "blog-sidebar-topics";
@import "blog-sidebar-author";
@import "post-card";
@import "topics-button";
@import "home-card";
@import "next-twitch-stream";
@import "speaker-deck-link";
@import "video-embed";
@import "see-all-cta";

@import "prism";

/* START TEMP */
header {
  margin-bottom: 4rem;
}

main {
  margin: auto;
}

// convert to mixin or something
.colorHighlight {
  color: var(--color-highlight);
}

/* END TEMP */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--grey-dark);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
