<!DOCTYPE html>
<html lang="en" color-mode="dark">
  <head data-build-version="{{ buildInfo.version }}">
    {% include "head_base.html" %} {% if openGraphTimeToRead %}
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Salma Alam-Naylor" />
    <meta name="twitter:label2" content="Reading time" />
    <meta name="twitter:data2" content="{{ openGraphTimeToRead }} minutes" />
    <meta property="og:type" content="article" />
    <meta property="article:section" content="Technology" />
    {% for tag in openGraphArticleTags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %} {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <script
      src="https://js.sentry-cdn.com/9093cd35e7e4f174110bcc38a87a56b0.min.js"
      crossorigin="anonymous"></script>
    <script>
      const release = document
        .querySelector("head")
        .getAttribute("data-build-version");

      window.SENTRY_RELEASE = {
        id: release,
      };
    </script>
  </head>
  <body data-type="{{pageType}}">
    {% include "header.html" %}
    <main id="main_content">{{ content }}</main>
  </body>
</html>
