<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <!-- extra CSS -->

    <link rel="stylesheet" href="{{ "/css/main.css" | url }}" /> <link rel="stylesheet" href="{{ "/css/prism.css" | url
    }}" />

    <!-- Open Graph -->

    <!-- Meta descriptions -->

    <meta name="description" content="{{ metaDescription }}" />
  </head>
  <body>
    {% include "header.html" %}
    <main>{{ content }}</main>
    {% include "footer.html" %}
  </body>
</html>
