<!DOCTYPE html>
<html lang="en" color-mode="dark">
  <head>
    {% include "head_base.html" %} {% if openGraphTimeToRead %}
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Salma Alam-Naylor" />
    <meta name="twitter:label2" content="Reading time" />
    <meta name="twitter:data2" content="{{ openGraphTimeToRead }} minutes" />
    <meta property="og:type" content="article" />
    <meta property="article:section" content="Technology" />
    {% for tag in openGraphArticleTags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %} {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <script
      src="https://js.sentry-cdn.com/9093cd35e7e4f174110bcc38a87a56b0.min.js"
      crossorigin="anonymous"></script>

    <script>
      window.sentryOnLoad = function () {
        Sentry.init({
          dsn: "https://929e6ff57c7961dfe12ee694f8a40dd6@o4506044970565632.ingest.sentry.io/4506593553088512",

          // Alternatively, use `process.env.npm_package_version` for a dynamic release version
          // if your build tool supports it.
          // release: "my-project-name@2.3.12",
          integrations: [
            Sentry.browserTracingIntegration(),
            Sentry.replayIntegration(),
          ],

          // Set tracesSampleRate to 1.0 to capture 100%
          // of transactions for performance monitoring.
          // We recommend adjusting this value in production
          tracesSampleRate: 1.0,

          // Set `tracePropagationTargets` to control for which URLs distributed tracing should be enabled
          tracePropagationTargets: [
            "localhost",
            /^https:\/\/whitep4nth3r\.com\/api/,
          ],

          // Capture Replay for 10% of all sessions,
          // plus for 100% of sessions with an error
          replaysSessionSampleRate: 0.1,
          replaysOnErrorSampleRate: 1.0,
        });
      };
    </script>
  </head>
  <body data-type="{{pageType}}">
    {% include "header.html" %}
    <main id="main_content">{{ content }}</main>
  </body>
</html>
