<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />

    <style>
      /* accessibility fixes for prismjs */
      .token.comment {
        color: #adb8c2 !important;
      }

      .token.important {
        color: #f3a344 !important;
      }

      .token.tag,
      .token.property,
      .token.constant {
        color: #fc92b6 !important;
      }
    </style>
  </head>
  <body>
    <header>BLOG POST HEADER</header>
    <main>{{ content }}</main>
    <footer>BLOG POST FOOTER</footer>
  </body>
</html>
