.blogSidebarTopics {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.blogSidebarTopics__item {
  margin-bottom: 0.75rem;
  display: block;
  max-width: max-content;
}

.blogSidebarTopics__itemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}

.blogSidebarTopics__itemIcon {
  margin-right: 0.5rem;
}
