.homeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeCard__title {
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 2rem;
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  color: var(--color-fg);
  word-break: break-word;
  display: flex;
  flex-direction: column;
}
