.nextTwitchStream {
}

.nextTwitchStream__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-highlight);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.nextTwitchStream__metaIcon {
  margin-right: 0.5rem;
}

.nextTwitchStream__title {
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 2rem;
}

.nextTwitchStream__noStream {
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
}

.nextTwitchStream__streamInfo {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  color: var(--color-fg);
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

.nextTwitchStream__cta {
  @include button-grey;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nextTwitchStream__ctaIcon {
  margin-right: 0.5rem;
}

.nextTwitchStream__liveNow {
  background-color: var(--color-highlight);
  color: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.nextTwitchStream__liveNowText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nextTwitchStream__liveNowText:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  animation: flash 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .nextTwitchStream__liveNowText:before {
    animation: none;
  }
}
