.publishedDate {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.publishedDate__item {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-fg);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .publishedDate__item {
    font-weight: var(--font-weight-main);
    font-family: var(--font-family-main);
    justify-content: flex-start;
  }
}

.publishedDate__icon {
  margin-right: 0.5rem;
  color: var(--color-highlight);
}
