.topics {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.topics__listItem {
}

.topics__listItemLink {
  @include button-grey;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0.25rem solid transparent;
}

.topics__listItemLink--selected {
  border-color: var(--color-highlight);
}

.topics__listItemImg {
  margin-right: 0.5rem;
  display: flex;
}

.topics__listItemName {
  display: flex;
}
