.topics {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.topics__listItem {
}

.topics__listItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0.25rem solid transparent;
}

.topics__listItemLink--selected {
  border-color: var(--color-highlight);
}

.topics__listItemImg {
  margin-right: 0.5rem;
  display: flex;
}

.topics__listItemName {
  display: flex;
}
