@import "font-face";
@import "root";
@import "reset";
@import "keyframes";

@import "grid";

@import "topics";
@import "post";
@import "published-date";
@import "table-of-contents";
@import "blog-sidebar-topics";
@import "blog-sidebar-author";
@import "post-card";
@import "topics-button";
@import "home-card";
@import "next-twitch-stream";
@import "speaker-deck-link";
@import "video-embed";
@import "see-all-cta";

@import "prism";

/* START TEMP */
header {
  margin-bottom: 4rem;
}

main {
  margin: auto;
}

// convert to mixin or something
.colorHighlight {
  color: var(--color-highlight);
}

/* END TEMP */
