.fourohfour__headerTitle {
  @include font_bold;
  margin: 0 auto 1rem auto;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  color: var(--color-fg);
  max-width: var(--post-max-width);
}

.fourohfour__content {
  max-width: var(--post-max-width);
  margin-left: auto;
  margin-right: auto;
}

.fourohfour__text {
  @include font_main;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  color: var(--color-fg);
  display: block;
}

.fourohfour__img {
  box-shadow: 0px 1.5rem 2rem -1rem rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.48);
  border-radius: calc(var(--border-radius-base) * 2);
  width: 100%;
  margin: auto;
  display: block;
}
