.about {
}

.about__image {
}

.about__name {
  z-index: 10;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.about__fixed {
  img {
    background-color: var(--bio-image-container-bg);
  }

  * {
    height: calc(100% - 6.5rem);
    object-fit: cover;
    border-radius: var(--border-radius-base);
  }
}

.about__details {
  margin: unset;
}

.about__bio {
}
