@use "font";

.about {
}

.about__hero {
  position: relative;

  @media screen and (min-width: 1080px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about__hero__image {
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  height: 100vh;

  img {
    view-transition-name: bio-image;
    object-fit: cover;
    object-position: top center;
    position: relative;
    filter: contrast(200%);

    width: 100%;
    height: auto;
    transform-origin: center center;
    display: block;
  }
}

.about__name {
  view-transition-name: hero-name;
  @include font.heading;
  white-space: nowrap;
  color: var(--color-bg);
  background: var(--color-fg);
  position: absolute;
  z-index: var(--name-z-index);
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about__name__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: clamp(1.5rem, 8vw, 8rem);
  gap: clamp(1rem, 2vw, 2rem);

  span {
    display: flex;
  }
}

.about__hero__bio {
  padding: 2rem;
  @media screen and (min-width: 1080px) {
    padding: 12rem 4rem 10rem 4rem;
  }
}
