.activityFeed {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--feed-max-width);
}

.activityFeed__header {
  @include grid_header;
  padding: 0 1rem;
}

.activityFeed__item {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding: 2rem 2.5rem;
  border-radius: 0.75rem;
  background: var(--activity-feed-bg);
  backdrop-filter: blur(1rem);
  box-shadow: var(--activity-feed-box-shadow);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all var(--global-transition-time) ease-in-out !important;

  &:hover,
  &:focus,
  &:active {
    background: var(--activity-feed-bg-hover);
    box-shadow: var(--activity-feed-box-shadow-hover);
  }
}

.activityFeed__type {
  @include font_semibold;
  color: var(--color-fg);
  font-size: 1rem;
}

.activityFeed__date {
  @include font_semibold;
  color: var(--color-fg);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.activityFeed__title {
  @include font_bold;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}

// .activityFeed__description {
// }

// .activityFeed__description--withImage {
//   display: grid;
//   grid-template-columns: 3fr 1fr;
//   gap: 1rem;
// }

// .activityFeed__description p {
//   @include font_main;
//   font-size: 1rem;
//   line-height: 1.6;

//   &:not(:first-of-type) {
//     margin-top: 1rem;
//   }
// }

// .activityFeed__description__image {
//   border-radius: calc(var(--border-radius-base) * 2);
//   filter: var(--base-shadow-filter);
//   margin-top: 1rem;
// }
