.ais {
  margin-bottom: 1rem;
}

.ais__searchbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-areas:
    "label label"
    "input button";
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

.ais__hits--empty {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  @include font_heading;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ais__hitsList {
  @include grid;
  margin-left: auto;
  margin-right: auto;
}

.ais__hitsListItem {
  @include grid_item;
}

.ais__hitsListItem mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.ais__form {
  display: block;
}

.ais__label {
  grid-area: label;
  @include font_heading;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.ais__input {
  grid-area: input;
  @include font_main;
  background-color: var(--color-bg);
  border: 0.25rem solid var(--grey-dark);
  color: var(--color-fg);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.ais__input:focus {
  @include search_focus_style;
}

.ais__input::placeholder {
  color: #bbb;
}

.ais__reset {
  grid-area: button;
  @include button_main;
  display: inline;
  border-radius: 0;
  padding: 0.6rem 1rem;
  border: 0.125rem solid var(--grey-dark);
  width: max-content;
}

.ais__reset:focus {
  @include search_focus_style;
}

.ais__recommended {
  max-width: 20rem;
  display: inline-block;
}

.ais__recommendedTitle {
  @include font_heading;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.7rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
}

.ais__recommendedImage {
  border-radius: var(--border-radius-base);
  filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
}

.ais__recommendedLink {
  @include button_main;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
}
