.ais {
  @media screen and (min-width: 48rem) {
    --form-height: 44px;
  }
}

.ais__searchbox {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "label label"
    "input button";
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

.ais__hits--empty {
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  @include font_semibold;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ais__howAbout {
  @include font_semibold;
  color: var(--color-fg);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.ais__form {
  display: block;
}

.ais__label {
  grid-area: label;
  @include font_semibold;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.ais__input {
  grid-area: input;
  @include font_main;
  background-color: var(--search-input-bg);
  color: var(--color-fg);
  border: var(--search-input-border);
  border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: var(--form-height);
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.ais__input:focus-visible {
  @include search_focus_style;
}

.ais__reset {
  @include font_semibold;
  grid-area: button;
  background-color: var(--search-input-bg);
  display: inline;
  border-radius: 0;
  padding: 0.6rem 1rem;
  border: var(--search-input-border);
  border-left-width: 0;
  width: 100%;
  height: var(--form-height);
  border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
}

.ais__reset:focus-visible {
  @include search_focus_style;
}

.ais-Highlight-highlighted {
  background-color: var(--pink);
  color: var(--white);
}
