@use "utils";
@use "font";

.author {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.author__cta {
  display: flex;
  position: relative;
  text-decoration: none;
  @include utils.link_focus;
}

.author__imgContainer {
  img {
    filter: contrast(200%);
    object-fit: cover;
    clip-path: polygon(3rem 0, 100% 0, 100% 100%, 0 100%, 0 3rem);
  }

  picture {
    display: flex;
  }
}

.author__info {
  padding: 1rem;
  color: var(--color-fg);
  border-top: 0.5rem solid var(--green);

  @media screen and (min-width: utils.$post_breakpoint_md) {
    padding-top: 1rem;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0.5rem;
  }

  p {
    @include font.serif;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: left;
    font-style: italic;

    a {
      @include utils.link_focus;
    }
  }
}

.author__name {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
}

.nameLogo {
  @include font.heading;
  transform: rotate(5deg);
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-fg);
  background: var(--color-bg);
  opacity: 0.7;
  mix-blend-mode: difference;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: var(--border-radius-accent);
}

.nameLogo__top {
  font-size: 10rem;

  @media screen and (min-width: utils.$post_breakpoint_md) {
    font-size: 5rem;
  }

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    font-size: 4.5rem;
  }

  @media screen and (min-width: 1440px) {
    font-size: 7rem;
  }
}

.nameLogo__bottom {
  font-size: 4.5rem;

  @media screen and (min-width: utils.$post_breakpoint_md) {
    font-size: 2rem;
  }

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    font-size: 2rem;
  }

  @media screen and (min-width: 1440px) {
    font-size: 3rem;
  }
}
