@use "utils";
@use "font";

.author {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: var(--color-bg);

  clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 0 100%, 0 2rem);

  border-top: 0.5rem dashed var(--color-accent);
  border-bottom: 0.5rem dashed var(--color-accent);
}

.author__cta {
  display: flex;
  position: relative;
  text-decoration: none;
  @include utils.link_focus;
}

.author__imgContainer {
  @include utils.half_tone;
  img {
    object-fit: cover;
    object-position: top center;
  }
}

.author__info {
  padding: 1rem;
  background: var(--color-fg);

  p {
    @include font.main;
    color: var(--color-bg);
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: left;

    a {
      @include utils.link_focus;
    }
  }
}

[color-mode="dark"] {
  --name-mbm: unset;
}
[color-mode="light"] {
  --name-mbm: difference;
}

.author__name {
  position: absolute;
  bottom: 0;
  color: var(--color-bg);
  background-color: var(--color-fg);
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: flex;
    width: 90%;
    height: auto;
    transform: rotate(-5deg);
    top: -2rem;
    position: relative;
    z-index: 20;
    mix-blend-mode: var(--name-mbm);
    filter: url(#distort_from_footer);

    @media screen and (min-width: 1080px) {
      top: 0;
      transform: rotate(0);
    }

    @media screen and (min-width: 1080px) and (prefers-reduced-motion: reduce) {
      top: -3rem;
      transform: rotate(-10deg);
    }
  }
}
