@use "utils";
@use "font";

.author {
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.author__cta {
  display: flex;
  position: relative;
  text-decoration: none;
  @include utils.link_focus;
}

.author__imgContainer {
  img {
    filter: contrast(200%);
    object-fit: cover;
  }

  picture {
    display: flex;
  }
}

.author__info {
  padding: 1rem;
  color: var(--color-fg);
  border-top: 0.5rem solid var(--green);

  p {
    @include font.serif;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: left;
    font-style: italic;

    a {
      @include utils.link_focus;
    }
  }
}

.author__name {
  position: absolute;
  top: 75%;
  transform: translate(-5%, -75%);
}

.nameLogo {
  @include font.heading;
  transform: rotate(5deg);
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-fg);
  background: var(--color-bg);
  opacity: 0.7;
  mix-blend-mode: difference;
  padding: 0.5rem 1rem;
}

.nameLogo__top {
  font-size: clamp(2rem, 7vw, 7.5rem);
}

.nameLogo__bottom {
  font-size: clamp(1rem, 4vw, 3.15rem);
}
