@use "font";
@use "md";
@use "utils";

$bio_breakpoint: 1237px;

[color-mode="dark"] {
  --bio-button-color: rgba(255, 255, 255, 0.6);
  --bio-button-bg: rgba(255, 255, 255, 0.1);
}
[color-mode="light"] {
  --bio-button-color: var(--grey-mid);
  --bio-button-bg: rgba(52, 64, 84, 0.1);
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bio__topRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;

  @media screen and (min-width: $bio_breakpoint) {
    flex-direction: row;
  }
}

.bio__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
  z-index: 3;
  order: 2;

  @media screen and (min-width: $bio_breakpoint) {
    order: 1;
  }
}

.bio__links {
  order: 1;
  @media screen and (min-width: $bio_breakpoint) {
    order: 2;
  }

  .socialLinks {
    gap: 1rem;
  }
}

.bio__button {
  position: relative;
  border-width: 0;
  border-radius: var(--border-radius-base);
  color: var(--bio-button-color);
  background: var(--bio-button-bg);
  color: var(--color-fg);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.625rem 0.875rem;
  text-decoration: none;
  @include utils.link_focus;
}

.bio__button--selected {
}

.bio__block {
  margin-bottom: 4rem;
  max-width: 42rem;

  h2 {
    @include font.font_semibold;
    font-size: 1.875rem;
    line-height: 1.375;
    margin-bottom: 1rem;
    color: var(--color-fg);
    scroll-margin-top: 10.5rem;
  }

  h3 {
    @include md.md_h3;
  }

  p {
    @include md.md_paragraph($fontSize: 1.25rem, $lineHeight: 1.6);
  }

  .videoEmbed__cta {
    @include font.font_main;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
}
