@use "font";
@use "md";
@use "utils";

$bio_breakpoint: 1237px;

.bio__block {
  h2 {
    @include font.heading;
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    word-break: break-word;
    hyphens: auto;
    color: var(--color-fg);
    text-transform: uppercase;
  }

  h3 {
    @include font.heading;
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--color-fg);
    word-break: break-word;
    hyphens: auto;
    text-transform: uppercase;
  }

  p {
    @include font.main;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    line-height: 1.85;
    margin-bottom: 1rem;
    color: var(--color-fg);
    word-break: break-word;

    a {
      @include utils.link_focus;
    }
  }
}
