$bio_breakpoint: 1237px;

[color-mode="dark"] {
  --bio-button-color: rgba(255, 255, 255, 0.6);
  --bio-button-selected-bg: rgba(255, 255, 255, 0.1);
}
[color-mode="light"] {
  --bio-button-color: var(--grey-mid);
  --bio-button-selected-bg: rgba(52, 64, 84, 0.1);
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bio__topRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 2rem;

  @media screen and (min-width: $bio_breakpoint) {
    flex-direction: row;
  }
}

.bio__buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  z-index: 3;
  order: 2;

  @media screen and (min-width: $bio_breakpoint) {
    order: 1;
  }
}

.bio__links {
  order: 1;
  @media screen and (min-width: $bio_breakpoint) {
    order: 2;
  }
}

.bio__button {
  position: relative;
  border-width: 0;
  background: transparent;
  border-radius: var(--border-radius-base);
  color: var(--bio-button-color);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.625rem 0.875rem;

  @include link_focus;
}

.bio__button--selected {
  background: var(--bio-button-selected-bg);
  color: var(--color-fg);
}

.bio__block {
  display: none;
  @include short_bio;

  .videoEmbed__cta {
    @include font_main;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: var(--color-fg-copy);
  }
}

.bio__block--show {
  display: block;
}
