@use "font";
@use "md";

.blogEndAuthor {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0 1rem;
  grid-template-areas: "avatar bio";
}

.blogEndAuthor__imgContainer {
  grid-area: avatar;
  filter: var(--base-shadow-filter);
  transition: transform var(--global-transition-time) ease-in-out;

  img {
    border-radius: var(--border-radius-base);
    background-color: var(--bio-image-container-bg);
  }
}

.blogEndAuthor__name {
  @include font.font_semibold;
  font-size: 1.125rem;
  line-height: 1.75;
  color: var(--color-fg);
}

.blogEndAuthor__bio {
  grid-area: bio;
  margin-bottom: 0.5rem;

  p {
    @include md.md_paragraph;
  }
}
