.blogSidebarTopics {
  list-style: none;
  padding-left: 0;
}

.blogSidebarTopics__item {
  margin-bottom: 0.75rem;
  display: block;
  max-width: max-content;
}

.blogSidebarTopics__itemLink {
  @include button_main;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
