.blog__item {
  &:first-of-type,
  &:only-of-type {
    .postCard,
    .postCard__topicsGroup {
      opacity: 1;
      background-color: var(--cta2-bg);
    }
  }

  @media screen and (min-width: 48em) {
    &:first-of-type,
    &:only-of-type {
      grid-row: 1 / span 2;

      .postCard__imageWrap {
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.blog__item--ais {
  max-width: 33%;
}

.blog__item mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.blog__searchAndFilters {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;

  @media screen and (min-width: 72em) {
    justify-content: space-between;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.blog__filterLabel {
  @include font_semibold;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
