.blogSidebarAuthor {
  margin-bottom: 2rem;
  text-align: center;
}

.blogSidebarAuthor__cta {
  font-size: 1rem;
  margin-bottom: 2rem;
  display: block;
}

.blogSidebarAuthor__cta2 {
  display: block;
  text-align: left;
  background-color: var(--cta2-bg);
  border-radius: calc(var(--border-radius-base) * 2);
  padding: 0.5rem;
  filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));
}

.blogSidebarAuthor__cta2__text {
  font-size: 1rem;
  line-height: 1.3;
  color: var(--color-fg);
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.4rem;
}

.blogSidebarAuthor__cta2__link {
  @include button_twitch;
  display: flex;
}

.blogSidebarAuthor__imgContainer {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: calc(var(--border-radius-base) * 2);
  max-width: 8rem;
  filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));

  @media screen and (min-width: 48em) {
    overflow: hidden;
    height: 16rem;
    max-width: unset;
  }
}
.blogSidebarAuthor__imgContainer {
  filter: grayscale(1);
}

.blogSidebarAuthor__imgContainer img {
  border-radius: var(--border-radius-base);
  width: 100%;
}
