.blogSidebarAuthor {
  display: none;
  margin-bottom: 2rem;

  @media screen and (min-width: 56em) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.blogSidebarAuthor__cta {
  display: block;
  position: relative;
  @include link_focus;

  &:focus-visible,
  &:hover {
    .blogSidebarAuthor__imgContainer {
      transform: scale(0.95);
    }
  }
}

.blogSidebarAuthor__imgContainer {
  filter: var(--base-shadow-filter);
  transition: transform var(--global-transition-time) ease-in-out;

  * {
    border-radius: var(--border-radius-base);
  }
}

.blogSidebarAuthor__name {
  display: block;
  position: relative;
  top: -4rem;
  height: 0;
}

.blogSidebarAuthor_social {
  margin-top: 0.5rem;
}
