@use "font";
@use "utils";

.blog {
  display: block;
}

.blog__cards {
}

.blog__cardsGrid {
  @include utils.card_grid(500px);
}

.blog__item mark {
  color: var(--color-bg);
  background-color: var(--color-fg);
}
