@use "font";
@use "utils";

.card {
  overflow: hidden;
  border-radius: 0;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all var(--global-transition-time) ease-in-out !important;
  position: relative;
  flex-grow: 1;

  // do not put height 100% on here!
  // because it messes with mobile and safari
  min-height: max-content;

  &:hover,
  &:focus {
    .card__image {
      transform: scale(1.1);
    }
  }

  @include utils.link_focus;
}

.card__imageContainer {
  aspect-ratio: 1.75/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: var(--pink);

  * {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}

.card__imageContainer--large {
  aspect-ratio: 1/1;

  * {
    height: 100%;
    object-fit: cover;
  }
}

.card__image {
  height: 100%;
  width: auto;
  transition: all var(--global-transition-time) ease-in-out;
}

.card__inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.card__date {
  @include font.font_main;
  color: var(--color-fg);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.card__title {
  @include font.font_heading;
  font-size: clamp(1.25rem, 2vw, 2rem);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.card__description {
  @include font.font_main;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--color-fg);
  margin-bottom: 1rem;
  flex-grow: 1;
}

.card__meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.card__metaLabel {
  @include font.font_semibold;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  width: max-content;
  text-transform: capitalize;
}

.card__metaRead {
  @include font.font_semibold;
  font-size: 0.875rem;
  line-height: 1.125;
  color: var(--color-fg);
}

.card__linkButton {
  background: var(--pink);
  display: block;
  border-width: 0;
  border-radius: var(--border-radius-base);
  width: 100%;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 auto 0.5rem auto;
}

.card__linkButton:focus-visible,
.card__linkButton:focus-visible:focus {
  @include utils.link_focus;
}
