[color-mode="dark"] {
  --card-bg: rgba(255, 255, 255, 0.02);
  --card-bg-hover: rgba(255, 255, 255, 0.08);
  --card-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --card-box-shadow-hover: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

[color-mode="light"] {
  --card-bg: rgba(255, 255, 255, 0.32);
  --card-bg-hover: rgba(255, 255, 255, 0.72);
  --card-box-shadow: 0px 0px 0px -16px rgba(27, 27, 27, 0.01),
    inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --card-box-shadow-hover: 0px 24px 32px -16px rgba(27, 27, 27, 0.16),
    inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

.card {
  overflow: hidden;
  border-radius: 0.75rem;
  background: var(--card-bg);
  backdrop-filter: blur(1rem);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all var(--global-transition-time) ease-in-out !important;
  position: relative;

  // this fixes a weird thing on mobile
  // do not put height 100% on here!
  min-height: max-content;

  @media screen and (min-width: $blog_mobile_layout_break) {
    height: 100%;
  }

  &:hover,
  &:focus {
    background: var(--card-bg-hover);
    box-shadow: var(--card-box-shadow-hover);

    .card__image {
      transform: scale(1.1);
    }
  }

  @include link_focus;
}

.card__imageContainer {
  aspect-ratio: 3/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(145deg, var(--pink) 60%, var(--orange) 98%);
}

.card__imageContainer--large {
  aspect-ratio: 1/1;
}

.card__inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  // height: 100%; // do we need this??
  flex-grow: 1;
}

.card__image {
  transition: all var(--global-transition-time) ease-in-out;
}

.card__date {
  @include font_main;
  color: var(--color-fg);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.card__title {
  @include font_bold;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.card__description {
  @include font_main;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--color-fg);
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  flex-grow: 1;

  p {
    overflow: hidden;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}

.card__meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.card__metaLabel {
  @include meta_label;
}

.card__metaRead {
  @include font_semibold;
  font-size: 0.875rem;
  line-height: 1.125;
  color: var(--color-fg);
}
