@use "font";
@use "utils";

.card {
  overflow: hidden;
  border-radius: 0;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  flex-grow: 1;

  // do not put height 100% on here!
  // because it messes with mobile and safari
  min-height: max-content;

  &:hover,
  &:focus {
    .card__image {
      transform: rotate(5deg);
      transform-origin: center center;
    }
  }

  @include utils.link_focus;
}

.card--viewAll {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 5rem);
  line-height: 1.2;
  color: var(--color-fg);
  background: var(--color-bg);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2rem;
  text-align: right;

  &:hover {
    p {
      transform: rotate(5deg);
      transform-origin: center center;
    }
  }
}

.card__imageContainer {
  aspect-ratio: 1.75/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pink);

  *,
  img,
  .card__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  @include utils.half_tone;
}

.card__imageContainer--large {
  aspect-ratio: 1/1;

  *,
  img,
  .card__image {
    height: 100%;
    object-fit: cover;
  }
}

.card__image {
  height: 100%;
  width: auto;
}

.card__inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.card__title {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-wrap: wrap;
}

.card__description {
  @include font.main;
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--color-fg);
  margin-bottom: 4rem;
  flex-grow: 1;
}

.card__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  z-index: 10;
  position: absolute;
  top: 0;
  text-align: right;
  width: 100%;
}

.card__metaInfo {
  display: flex;
  flex-direction: column;
}

.card__metaLabel {
  @include font.heading;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--pink);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
}

.card__metaRead {
  @include font.bold;
  font-size: 2rem;
  line-height: 1.125;
  color: var(--black);
  background-color: var(--white);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
}

.card__metaDate {
  @include font.bold;
  color: var(--white);
  background-color: var(--black);
  font-size: 2rem;
  line-height: 1.125;
  text-transform: uppercase;
  display: flex;
  flex-grow: 0;
  align-self: flex-start;
  padding: 0.125rem 0.5rem;
}

.card__linkButton {
  flex: 1 1 auto;
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--green);
  color: var(--black);
  border: var(--black) 0.25rem solid;
  text-decoration: none;
  text-align: center;

  @include utils.link_focus;

  &:focus-visible,
  &:focus {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

.card__linkButton:focus-visible,
.card__linkButton:focus-visible:focus {
  @include utils.link_focus;
}
