@use "font";
@use "utils";

[color-mode="dark"] {
  --card-bg: rgba(255, 255, 255, 0.02);
  --card-bg-hover: rgba(255, 255, 255, 0.08);
  --card-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --card-box-shadow-hover: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

[color-mode="light"] {
  --card-bg: rgba(255, 255, 255, 0.32);
  --card-bg-hover: rgba(255, 255, 255, 0.72);
  --card-box-shadow: 0px 0px 0px -16px rgba(27, 27, 27, 0.01), inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --card-box-shadow-hover: 0px 24px 32px -16px rgba(27, 27, 27, 0.16), inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

.card {
  overflow: hidden;
  border-radius: var(--border-radius-base);
  background: var(--card-bg);
  backdrop-filter: blur(1rem);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all var(--global-transition-time) ease-in-out !important;
  position: relative;
  flex-grow: 1;

  // do not put height 100% on here!
  // because it messes with mobile and safari
  min-height: max-content;

  &:hover,
  &:focus {
    background: var(--card-bg-hover);
    box-shadow: var(--card-box-shadow-hover);

    .card__image {
      transform: scale(1.1);
    }
  }

  @include utils.link_focus;
}

.card__imageContainer {
  aspect-ratio: 1.75/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(145deg, var(--pink) 60%, var(--orange) 98%);
  // fixes weird edges
  filter: blur(0px);

  * {
    height: 100%;
    object-fit: cover;
  }
}

.card__imageContainer--large {
  aspect-ratio: 1/1;

  * {
    height: 100%;
    object-fit: cover;
  }
}

.card__image {
  height: 100%;
  transition: all var(--global-transition-time) ease-in-out;
}

.card__inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.card__date {
  @include font.font_main;
  color: var(--color-fg);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1;
}

.card__title {
  @include font.font_heading;
  font-size: clamp(1.25rem, 2vw, 2rem);
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.card__description {
  @include font.font_main;
  font-size: 0.875rem;
  line-height: 1.6;
  color: var(--color-fg);
  margin-bottom: 1rem;
  flex-grow: 1;
}

.card__meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.card__metaLabel {
  @include font.font_semibold;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  width: max-content;
  text-transform: capitalize;
}

.card__metaRead {
  @include font.font_semibold;
  font-size: 0.875rem;
  line-height: 1.125;
  color: var(--color-fg);
}

.card__linkButton {
  background: linear-gradient(45deg, var(--pink) 0%, var(--orange) 75%);
  display: block;
  border-width: 0;
  border-radius: var(--border-radius-base);
  width: 100%;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 auto 0.5rem auto;
}

.card__linkButton:focus-visible,
.card__linkButton:focus-visible:focus {
  @include utils.link_focus;
}
