@use "font";
@use "utils";

.events {
  max-width: var(--post-max-width);
  margin: auto;
}

.about__eventsHeader {
}

.about__eventsHeaderTitle {
}

.events__list {
  padding-left: 0;
  list-style: none;
}

.events__listItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem 2rem;
  grid-template-areas:
    "date time"
    "date name"
    "date desc"
    "date cta";
  margin-bottom: 4rem;

  @media screen and (min-width: 48em) {
    margin-bottom: 3rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
      "date time cta"
      "date name cta"
      "date desc cta";
  }
}

.events__listItemDate {
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.events__listItemDate__month {
  @include font.font_semibold;
  text-align: center;
  color: var(--color-fg);
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.events__listItemDate__day {
  @include font.font_bold;
  display: block;
  text-align: center;
  color: var(--color-fg);
  text-transform: uppercase;
  font-size: 2.8rem;
}

.events__listItemTime {
  grid-area: time;
  @include font.font_main;
  font-size: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1fr;

  svg {
    color: var(--color-fg);
  }

  @media screen and (min-width: 48em) {
    display: flex;
    flex-direction: row;
  }
}

.events__listItemTimeInner {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.events__listshortDescription {
  grid-area: desc;
  @include font.font_main;
  font-size: 1.2rem;
  line-height: 1.2;
}

.events__listItemName {
  grid-area: name;
  @include font.font_semibold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.2;
  color: var(--color-fg);
}

.events__listItemCta {
  grid-area: cta;
  @include font.font_semibold;
  gap: 0.5rem;
  flex-grow: 0;
  align-self: center;
  width: max-content;
  background-color: var(--card-bg);
  color: var(--color-fg);
  border-radius: calc(var(--border-radius-base) * 2);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  @include utils.link_focus;
}

.events__listItemCta--sr {
  @include utils.sr_only;
}

.events__listItemCta--centered {
  margin: auto;
  display: flex;

  &::after {
    content: "";
    display: inline-block;
    background-image: var(--header-external-arrow-svg);
    height: 1rem;
    width: 1rem;
  }
}

.events__listItemCancelled {
  color: var(--color-fg);
  border-radius: calc(var(--border-radius-base) * 2);
  background-color: var(--card-bg);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  @include font.font_bold;
  width: max-content;
}
