@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans SemiBold";
  src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Bold";
  src: url("/fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@mixin font_main {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
}

@mixin font_bold {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
}

@mixin font_semibold {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
}
