@mixin font_main {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin font_bold {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
}

@mixin font_semibold {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
}

@mixin font_heading {
  font-family: var(--font-family-heading);
  font-weight: 400;
}

@mixin font_serif {
  font-family: var(--font-family-serif);
  font-weight: 700;
}
