.footer {
  margin: 4rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer__copyright {
  @include font_bold;
  font-size: 1.2rem;
  color: var(--color-fg);
  margin-bottom: 1rem;
  text-align: left;
}
