@use "font";
@use "utils";

.footer {
  width: 100%;
}

.footer__newsletter {
  background: var(--color-fg);
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }
}

.footer__newsletterContent {
  order: 2;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    order: 1;
  }
}

.footer__newsletterImg {
  object-fit: cover;
  order: 1;

  @media screen and (min-width: 900px) {
    order: 2;
  }

  @include utils.half_tone;
}

.footer__newsletterTitle {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 2.5rem);

  span {
    display: inline-block;
    filter: (url(#distort_wwwh));
    transform: rotate(-5deg);
  }
}

.footer__newsletterCopy {
  font-size: clamp(1rem, 2.5vw, 1.25rem);

  em {
    @include font.serif;
  }
}

.footer__newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__newsletterInputRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__newsletterLabel {
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
}

.footer__newsletterInput {
  @include font.main;
  background: var(--white);
  color: var(--black);
  border: var(--black) 0.25rem solid;
  border-radius: var(--border-radius-base);
  font-size: 1rem;
  padding: 1rem;
  flex: 1 1 auto;

  @include utils.link_focus;

  &::placeholder {
    color: var(--input-color);
    opacity: 0.7;
  }
}

.footer__newsletterSubmit {
  flex: 1 1 auto;
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--green);
  color: var(--black);
  border: var(--black) 0.25rem solid;

  @include utils.link_focus;

  &:focus-visible,
  &:focus {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

.wwwh__filter {
  position: absolute;
}
