.footer {
  max-width: var(--grid-max-width);
  margin: 4rem auto;
  @include add_gradient_top;
}

.footer__copyright {
  @include font_bold;
  font-size: 1.2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
  text-align: left;
}

.footer__text {
  @include font_main;
  font-size: 1rem;
  color: var(--color-fg);
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.footer__links {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
  margin-top: 2rem;

  @media screen and (min-width: 32em) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (min-width: 48em) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.footer__link {
  @include font_bold;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  line-height: 1.4;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;

  @media screen and (min-width: 48em) {
    justify-content: center;
  }
}

.footer__sneaky {
  display: none;
  visibility: hidden;
}
