@use "font";
@use "utils";

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--color-bg);
  z-index: 10;
  position: relative;
}

.footer__newsletter {
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;

  @media screen and (min-width: 900px) {
    border: 0.5rem solid var(--color-fg);
    flex-direction: row;
  }
}

.footer__newsletter__content {
  order: 2;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media screen and (min-width: 900px) {
    order: 1;
  }
}

.footer__newsletter__img {
  object-fit: cover;
  order: 1;

  @media screen and (min-width: 900px) {
    order: 2;
  }

  @include utils.half_tone;
}

.footer__newsletter__title {
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 2.5rem);

  span {
    display: inline-block;
    filter: (url(#distort));
    transform: rotate(-5deg);
    color: var(--weird-color);
  }
}

.footer__newsletter__copy {
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);

  em {
    @include font.serif;
  }
}

.footer__newsletter__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__newsletter__inputRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__newsletter__label {
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
}

.footer__newsletter__input {
  @include font.main;
  background: var(--white);
  color: var(--black);
  border: var(--black) 0.25rem solid;
  border-radius: var(--border-radius-base);
  font-size: 1.5rem;
  padding: 1rem;
  flex: 1 1 auto;

  @include utils.link_focus;

  &::placeholder {
    color: var(--input-color);
    opacity: 0.7;
  }
}

.footer__newsletter__submit {
  flex: 1 1 auto;
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--green);
  color: var(--black);
  border: var(--black) 0.25rem solid;

  @include utils.link_focus;

  &:focus-visible,
  &:focus {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

.footer__newsletter__powered {
  @include font.main;
  font-size: 1rem;
  color: var(--color-fg);

  @include utils.link_focus;
}

.svg__filter {
  position: absolute;
}

.footer__links {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media screen and (min-width: 900px) {
    flex-direction: row;
    gap: 2rem;
  }

  a {
    @include font.heading;
    text-transform: uppercase;
    color: var(--color-fg);
    font-size: clamp(1.5rem, 2vw, 2rem);
    text-decoration: underline;
    text-underline-offset: clamp(0.25rem, 0.5vw, 0.5rem);
    text-decoration-thickness: 0.5rem;

    @include utils.link_focus;
  }
}

.footer__social {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  a {
    color: var(--color-fg);
    filter: url(#distort);
    @include utils.link_focus;
  }
}

.footer__aside {
  background: var(--pink);
  @include font.heading;
  text-transform: uppercase;
  color: var(--white);
  font-size: clamp(2rem, 4vw, 2.5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
  line-height: 1.1;
  text-box: trim-both cap alphabetic;
}
