@mixin grid {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 2rem 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: stretch;
}

.grid {
  @include grid;
}

@mixin grid_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid__item {
  @include grid_item;
}

@mixin grid_item_title() {
  @include font_semibold;
  text-decoration: none;
  color: var(--color-fg);
  font-size: clamp(1.2rem, 2vw, 2rem);
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

@mixin grid_header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}

@mixin grid_header_title {
  @include font_semibold;
  font-size: 2rem;
}
