@mixin grid {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  align-items: stretch;
}

@mixin grid_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@mixin grid_item_title($gradientMarginTop: 1rem) {
  @include font_semibold;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
  @include add_gradient_bottom($marginTop: $gradientMarginTop);
}

@mixin grid_header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
  @include add_gradient_bottom;
}

@mixin grid_header_title {
  @include font_semibold;
  font-size: 2rem;
}
