.header {
  margin-bottom: 4rem;
  margin-left: -2rem;
  margin-right: -2rem;
  background-image: var(--yellow-pink-gradient);
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: var(--grid-max-width);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

[data-type="post"] .header__content,
[data-type="talk"] .header__content {
  max-width: var(--post-max-width);
}

.header__skipToMainContent {
  @include font_bold;
  display: flex;
  justify-content: center;
  color: var(--color-highlight);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  left: 1rem;
  background-color: var(--color-bg);

  &:focus {
    top: 1rem;
  }
}

.header__skipToMainContent:focus {
  color: var(--color-highlight);
}

// .header__logoContainerLink {
//   display: flex;
//   flex-direction: column;
//   height: 8rem;
//   width: auto;
//   align-items: center;
// }

.header__navList {
  padding-left: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: clamp(0.25rem, 0.5vw, 0.5rem);
  margin-top: 1rem;
}

.header__navListItemLink {
  @include font_semibold;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: var(--color-bg);
  border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;

  &:focus {
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
  }
}

.header__referer {
  @include font_semibold;
  display: grid;
  place-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--grey-dark);
  border-radius: calc(var(--border-radius-base) * 6);
  margin: 1rem auto 2rem auto;
  color: var(--white);
  max-width: 100%;
  width: max-content;
  text-align: center;
  line-height: 1.4;
  filter: var(--base-shadow-filter);

  a {
    display: block;
    line-height: inherit;
    text-align: center;
  }
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;

  &.header__themeToggle--light {
    background-image: url("/img/theme-light.svg");
  }

  &:focus {
    outline: transparent;
    outline-style: solid;
    box-shadow: var(--pink) 0 0 0 0.175rem;
    transition: box-shadow var(--global-transition-time) ease-in-out;
  }
}
