.header {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: var(--grid-max-width);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

[data-type="post"] .header__content,
[data-type="talk"] .header__content {
  max-width: var(--post-max-width);
}

.header__skipToMainContent {
  @include font_bold;
  display: flex;
  justify-content: center;
  color: var(--color-highlight);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  left: 1rem;
  background-color: var(--color-bg);

  &:focus {
    top: 1rem;
  }
}

.header__skipToMainContent:focus {
  color: var(--color-highlight);
}

.header__logoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__logoContainerLink {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;

  .header__logoContainerLinkPanther {
    height: 100%;
    width: auto;
  }
  .header__logoContainerLinkName {
    height: 50%;
    width: auto;
    color: var(--color-logo);
  }
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 48em) {
  .header__navList {
    justify-content: flex-end;
  }

  .header__logoContainerLink {
    align-self: flex-start;
  }

  .header__content {
    margin-bottom: 6rem;
    flex-direction: row;
  }
}

.header__navListItemLink {
  @include font_semibold;
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  @include add_gradient_bottom($marginTop: 0.25rem);
}

.header__referer {
  @include font_semibold;
  font-size: 2rem;
  padding: 1rem;
  border-radius: var(--border-radius-base);
  background: var(--yellow-red-gradient);
  margin: 0 auto 2rem auto;
  color: var(--white);
  text-align: center;
}
