@use "font";
@use "root";
@use "utils";

.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-self: center;
  width: 100%;
  padding: 1rem var(--body-horizontal-padding-sm);
}

.header__navGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-self: flex-start;
  width: max-content;
}

.header__skipToMainContent {
  @include font.bold;
  display: flex;
  justify-content: center;
  color: var(--color-bg);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  transform: translateX(-50%);
  left: 50%;
  background-color: var(--color-fg);
  z-index: 15;
  position: absolute;

  @include utils.link_focus;

  &:focus {
    top: 1rem;
  }
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  position: relative;

  @media screen and (min-width: root.$global_md_breakpoint) {
    gap: 1rem;
  }
}

.header__navListItemLink {
  @include font.heading;
  color: var(--color-fg);
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 1;

  @include utils.link_focus;
}

[data-active="home"] [data-link="home"],
[data-active="blog"] [data-link="blog"],
[data-active="about"] [data-link="about"] {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 0.5rem;
  text-underline-offset: clamp(0.25rem, 0.5vw, 0.5rem);
  filter: url(#distort_from_footer);
  transform: rotate(-2deg);
  transform-origin: left top;
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  background-color: transparent;
  cursor: pointer;
  display: inline;
  position: relative;

  &.header__themeToggle--light {
    background-image: url("/img/theme-light.svg");
  }

  @include utils.link_focus;
}
