[color-mode="light"] {
  --external-arrow-svg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66663 11.3334L11.3333 4.66675M11.3333 4.66675H4.66663M11.3333 4.66675V11.3334' stroke='black' stroke-opacity='0.72' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

  --selected-link-decoration-color: var(--pink-light);
}

[color-mode="dark"] {
  --external-arrow-svg: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66663 11.3334L11.3333 4.66675M11.3333 4.66675H4.66663M11.3333 4.66675V11.3334' stroke='white' stroke-opacity='0.72' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --selected-link-decoration-color: var(--pink);
}

.header {
  margin: 1rem auto;
  max-width: var(--global-max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 10;
  position: fixed;
  justify-self: center;
  width: calc(100vw - calc(var(--body-horizontal-padding-sm) * 2));
  border-radius: 2.5rem;
  background: var(--header-bg);
  backdrop-filter: blur(6px);
  padding: 0.25rem 0.5rem;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $global_md_breakpoint) {
    width: calc(100vw - calc(var(--body-horizontal-padding-lg) * 2));
  }
}

.header__navGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-self: flex-start;
  width: max-content;
}

.header__skipToMainContent {
  @include font_bold;
  display: flex;
  justify-content: center;
  color: var(--color-fg);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  transform: translateX(-50%);
  left: 50%;
  background-color: var(--color-bg);
  z-index: 15;
  position: absolute;

  @include link_focus;

  &:focus {
    top: 1rem;
  }
}

.header__logoContainer {
  display: none;

  @media screen and (min-width: $global_md_breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    svg {
      height: 3rem;
      width: auto;
    }
  }
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;

  @media screen and (min-width: $global_md_breakpoint) {
    gap: 1rem;
  }
}

.header__navListDetails {
  position: relative;
}

.header__navListMoreLinks {
  background: var(--header-bg);
  border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
  position: absolute;
  top: 3.25rem;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);

  a {
    padding: 0.9rem;
  }

  @media screen and (min-width: $global_md_breakpoint) {
    top: 2.8125rem;

    a {
      padding: 0.5rem;
    }
  }

  // backdrop filter doesn't work if parent element has one!
  // so we do this instead on the dropdown
  &::before {
    background-color: var(--header-bg);
    content: "";
    filter: blur(6px);
    position: absolute;
    inset: 6%;
    z-index: -1;
    display: block;
  }
}

.header__navListItemLink--external {
  transition: text-shadow var(--global-transition-time) ease-in-out;

  &:hover {
    text-shadow: 0 0 0.25rem rgba(245, 88, 170, 0.7);
  }

  &::after {
    content: "";
    display: inline-block;
    background-image: var(--external-arrow-svg);
    height: 1rem;
    width: 1rem;
  }
}

.header__navListSummary {
  cursor: pointer;
}

.header__navListItemLink,
.header__navListSummary {
  transition: opacity var(--global-transition-time) ease-in-out;
  opacity: 0.72;
  @include font_bold;
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 1px;

  @media screen and (min-width: $global_md_breakpoint) {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
  }

  @include link_focus;

  &:hover {
    opacity: 1;
  }
}

[data-active="home"] [data-link="home"],
[data-active="blog"] [data-link="blog"],
[data-active="about"] [data-link="about"] {
  opacity: 1;
  position: relative;
  &::after {
    // using SVG here to avoid the font flash
    // content: url("/img/active_nav.svg");
    // width: 100%;
    // display: block;
    // position: absolute;
    // bottom: 0rem;
    // z-index: -1;

    // if we want to use the font
    @include font_atomic_extras;
    text-transform: lowercase;
    color: var(--selected-link-decoration-color);
    width: 100%;
    display: block;
    position: absolute;
    font-size: 3rem;
    z-index: -1;
    position: absolute;
  }
}

[data-active="home"] [data-link="home"] {
  &::after {
    content: "d" / "";
    left: -1px;
    top: 5px;

    @media screen and (min-width: $global_md_breakpoint) {
      top: -1px;
    }
  }
}

[data-active="blog"] [data-link="blog"] {
  &::after {
    content: "j" / "";
    left: 2px;
    top: 5px;

    @media screen and (min-width: $global_md_breakpoint) {
      top: -2px;
    }
  }
}

[data-active="about"] [data-link="about"] {
  &::after {
    content: "l" / "";
    left: 0;
    top: 5px;

    @media screen and (min-width: $global_md_breakpoint) {
      top: -2px;
    }
  }
}

.header__referer {
  @include font_semibold;
  display: grid;
  place-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--grey-dark);
  border-radius: calc(var(--border-radius-base) * 6);
  margin: 1rem auto 2rem auto;
  color: var(--white);
  max-width: 100%;
  width: max-content;
  text-align: center;
  line-height: 1.4;
  filter: var(--base-shadow-filter);

  a {
    display: block;
    line-height: inherit;
    text-align: center;
  }
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  transition: all var(--global-transition-time) ease-in-out;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  display: inline;

  &.header__themeToggle--light {
    background-image: url("/img/theme-light.svg");
  }

  &:focus {
    outline: transparent;
    outline-style: solid;
    box-shadow: var(--color-fg) 0 0 0 0.175rem;
    transition: box-shadow var(--global-transition-time) ease-in-out;
  }
}
