.header {
  margin-bottom: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  position: relative;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.header__navGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-self: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-self: flex-start;
  }
}

.header__skipToMainContent {
  @include font_bold;
  display: flex;
  justify-content: center;
  color: var(--color-highlight);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  left: 1rem;
  background-color: var(--color-bg);

  &:focus {
    top: 1rem;
  }
}

.header__skipToMainContent:focus {
  color: var(--color-highlight);
}

.header__logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  svg {
    height: 3rem;
    width: auto;
  }

  @media screen and (min-width: 768px) {
  }
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
}

.header__navListItemLink {
  @include font_semibold;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}

[data-active="home"] [data-link="home"],
[data-active="blog"] [data-link="blog"],
[data-active="about"] [data-link="about"] {
  &:after {
    content: "";
    height: 0.25rem;
    margin-top: 0.25rem;
    width: 100%;
    background: var(--pink);
    display: block;
  }
}

.header__referer {
  @include font_semibold;
  display: grid;
  place-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--grey-dark);
  border-radius: calc(var(--border-radius-base) * 6);
  margin: 1rem auto 2rem auto;
  color: var(--white);
  max-width: 100%;
  width: max-content;
  text-align: center;
  line-height: 1.4;
  filter: var(--base-shadow-filter);

  a {
    display: block;
    line-height: inherit;
    text-align: center;
  }
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  transition: all 0.2s ease-in-out;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0.5rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  &.header__themeToggle--light {
    background-image: url("/img/theme-light.svg");
  }

  &:focus {
    outline: transparent;
    outline-style: solid;
    box-shadow: var(--color-fg) 0 0 0 0.175rem;
    transition: box-shadow var(--global-transition-time) ease-in-out;
  }
}
