.home {
  @include tc_layout_container;
}

.home__left {
  @include tc_layout_left;
}

.home__fixed {
  @include tc_layout_fixed;
}

.home__scroll {
  @include tc_layout_scroll;
}

.home__twitch {
  @media screen and (min-width: $tc_layout_breakpoint) {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  margin-bottom: 6rem;
}

.home__heading {
  @include font_semibold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.home__activity {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: $tc_layout_breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}
