@use "font";
@use "utils";

:root {
  --image-z-index: 5;
  --header-z-index: 10;
  --name-z-index: 30;
  --cloud-z-index: 25;
}

.hero {
  --gap: 1rem;
  --grid-tc: 1fr;

  @media screen and (min-width: 1080px) {
    --gap: 3rem;
    --grid-tc: 1fr 1fr;
  }

  position: relative;
  // height: 100svh; // dynamically calculated

  overflow: hidden;
  display: grid;
  grid-template-columns: var(--grid-tc);
}

.hero__cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
  position: absolute;
  z-index: var(--cloud-z-index);

  @media screen and (min-width: 1080px) {
    position: relative;
    justify-content: flex-start;
    padding: clamp(0.5rem, 2vw, 2rem);
  }

  h2 {
    background: var(--color-bg);
    padding: clamp(0.25rem, 2vw, 1rem);
  }
}

.hero__cloud__wd {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 1rem;

  svg {
    height: clamp(2rem, 4vw, 4rem);
    width: clamp(2rem, 4vw, 4rem);
  }
}

.hero__cloud__is {
  @include font.serif;
  font-style: italic;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1;
  display: flex;
  align-self: flex-start;
}

.hero__cloud__te {
  @include font.main;
  font-size: clamp(2rem, 5vw, 5rem);
  display: flex;
  align-self: center;
  text-decoration: underline;
  text-underline-offset: clamp(0.5rem, 1vw, 1rem);
  text-decoration-thickness: clamp(0.25rem, 0.75vw, 0.75rem);
}

.hero__cloud__e {
  @include font.serif;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1;
  display: flex;
  align-self: flex-end;
}

.hero__cloud__han {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1;
  display: block;
  align-self: flex-start;

  span {
    display: inline-block;
    filter: url(#distort_from_footer);
    transform: rotate(-5deg);
  }
}

.hero__image {
  height: 100%;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100px;
    left: 0;
    filter: contrast(200%);

    @media screen and (min-width: 1080px) {
      position: relative;
    }
  }
}

.hero__name {
  @include font.heading;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-bg);
  background: var(--color-fg);
  position: absolute;
  z-index: var(--name-z-index);
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: calc(var(--gap) * 5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero__name__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
  font-size: clamp(1.5rem, 12vw, 12rem);
  gap: var(--gap);

  span {
    display: flex;
  }
}

.hero__name__separator {
  svg {
    height: clamp(2rem, 4vw, 4rem);
    width: clamp(2rem, 4vw, 4rem);
  }
}

.home__jobTitle {
  @include font.heading;
  text-align: right;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 4rem);
  color: var(--color-fg);
  padding-left: clamp(0.5rem, 0.75vw, 1rem);
  padding-right: clamp(0.5rem, 0.75vw, 1rem);

  a {
    @include utils.link_focus;
  }
}

.home__latest {
  background: var(--color-bg);
  width: 100%;
  margin-top: 2rem;
}

.home__latestHeader {
  display: inline-block;
  padding: 1rem;
  @include font.heading;
  color: var(--color-bg);
  background: var(--color-fg);
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: 1.2;
  text-transform: uppercase;
  z-index: var(--header-z-index);
  position: relative;
}

.home__cards {
  @include utils.card_grid;
  background: var(--color-bg);
  margin-bottom: 2rem;
}
