@use "font";
@use "utils";

:root {
  --header-z-index: 10;
  --name-z-index: 30;
  --cloud-z-index: 25;
  --cloud-underlay-z-index: 20;
}

[color-mode="dark"] {
  --weird-color: var(--green);
  --cloud-bg: rgb(0, 0, 0, 0.8);
}
[color-mode="light"] {
  --weird-color: var(--pink);
  --cloud-bg: rgb(255, 255, 255, 0.8);
}

.hero {
  --gap: clamp(1rem, 2vw, 2rem);
  --grid-tc: 1fr;

  @media screen and (min-width: 1080px) {
    --grid-tc: 1fr 1fr;
  }

  position: relative;
  // height: 100svh; // dynamically calculated

  overflow: hidden;
  display: grid;
  grid-template-columns: var(--grid-tc);
}

.hero__cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: var(--cloud-z-index);

  @media screen and (min-width: 1080px) {
    position: relative;
    height: 80vh;
  }

  h2 {
    background: var(--cloud-bg);
    padding: clamp(0.25rem, 2vw, 1rem);
    align-items: center;
    align-self: center;
  }
}

.hero__cloud__underlay {
  position: absolute;
  z-index: var(--cloud-underlay-z-index);
  height: 100%;
  width: 100%;
  background-size: 150px 150px;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 150 150' xmlns='http://www.w3.org/2000/svg'%3E %3Cfilter id='noiseFilter'%3E %3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='2' result='noise' /%3E %3CfeColorMatrix type='saturate' values='0' result='grayscale' /%3E %3CfeComponentTransfer%3E %3CfeFuncA in='grayscale' type='linear' slope='0.4' result='updated' /%3E %3C/feComponentTransfer%3E %3CfeMerge%3E %3CfeMergeNode in='noise' /%3E %3CfeMergeNode in='updated' /%3E %3C/feMerge%3E %3C/filter%3E %3Crect width='100%25' height='100%25' opacity='0.46' filter='url(%23noiseFilter)'/%3E %3C/svg%3E");

  @media screen and (min-width: 1080px) {
    width: 50%;
    left: 0;
    top: 0;
  }
}

.hero__cloud__wd {
  align-self: flex-end;
  align-items: center;

  h2 {
    @include font.heading;
    text-transform: uppercase;
    font-size: clamp(3rem, 6vw, 11rem);
    line-height: 1;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    span {
      align-self: center;
      display: flex;
    }
  }

  svg {
    height: clamp(2rem, 4vw, 5rem);
    width: clamp(2rem, 4vw, 5rem);
    transform: rotate(-5deg);
    filter: url(#distort_from_footer);
  }
}

.hero__cloud__is {
  display: flex;
  align-self: flex-start;

  h2 {
    @include font.serif;
    font-style: italic;
    font-size: clamp(2rem, 4vw, 7rem);
    line-height: 1;
  }
}

.hero__cloud__te {
  display: flex;
  align-self: center;

  h2 {
    @include font.main;
    font-size: clamp(2rem, 6vw, 7rem);
    text-decoration: underline;
    text-underline-offset: clamp(0.5rem, 1vw, 1rem);
    text-decoration-thickness: clamp(0.25rem, 0.75vw, 0.75rem);
  }
}

.hero__cloud__e {
  display: flex;
  align-self: flex-end;

  h2 {
    @include font.serif;
    font-size: clamp(3rem, 5vw, 6rem);
    line-height: 1;
  }
}

.hero__cloud__han {
  align-self: flex-start;

  h2 {
    @include font.heading;
    text-transform: uppercase;
    font-size: clamp(2rem, 4vw, 9rem);
    line-height: 1;
  }

  span {
    display: inline-block;
    filter: url(#distort_from_footer);
    transform: rotate(-5deg);
    color: var(--weird-color);
  }
}

.hero__cloud__ms {
  align-self: center;

  h2 {
    @include font.heading;
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 1;
  }

  span {
    @include font.serif;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: overline;
    text-decoration-thickness: clamp(0.25rem, 0.5vw, 0.5rem);
  }
}

.hero__image {
  height: 100%;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;

  img {
    view-transition-name: bio-image;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top center;
    position: absolute;
    left: 0;
    top: 0;
    filter: contrast(200%);

    @media screen and (min-width: 1080px) {
      position: relative;
    }
  }
}

.hero__name {
  view-transition-name: hero-name;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-bg);
  background: var(--color-fg);
  position: absolute;
  z-index: var(--name-z-index);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
}

.hero__name__inner {
  @include font.heading;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: clamp(1.5rem, 7vw, 12rem);
  gap: var(--gap);

  span {
    display: flex;
  }

  @media screen and (min-width: 1080px) {
    justify-content: flex-start;
  }
}

.hero__name__separator {
  svg {
    height: clamp(1.5rem, 3vw, 3rem);
    width: clamp(1.5rem, 3vw, 3rem);
  }
}

.home__jobTitle {
  @include font.heading;
  text-align: right;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-fg);
  padding-left: clamp(0.5rem, 0.75vw, 1rem);
  padding-right: clamp(0.5rem, 0.75vw, 1rem);

  a {
    @include utils.link_focus;
  }
}

.home__latest {
  background: var(--color-bg);
  width: 100%;
  margin-top: 2rem;
}

.home__latestHeader {
  display: inline-block;
  padding: 1rem;
  @include font.heading;
  color: var(--color-bg);
  background: var(--color-fg);
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: 1.2;
  text-transform: uppercase;
  z-index: var(--header-z-index);
  position: relative;
}

.home__cards {
  @include utils.card_grid;
  background: var(--color-bg);
  margin-bottom: 2rem;
}
