.homeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeCard__title {
  @include font_semibold;
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.homeCard__linkForTitle {
  text-decoration: none;
  margin-bottom: 1rem;

  .homeCard__title {
    margin-bottom: 0;
  }
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.homeCard__excerpt p {
  @include font_main;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: block;
}

.homeCard__button {
  @include button_main;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  * {
    display: flex;
  }
}
