@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-10deg) scale(1.2);
  }
  40% {
    transform: rotate(12deg) scale(1.3);
  }
  60% {
    transform: rotate(-14deg) scale(1.3);
  }
  80% {
    transform: rotate(11deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.homeAbout {
  margin-bottom: 4rem;

  @media screen and (min-width: 48em) {
    position: sticky;
    top: 2rem;
    max-height: 100vh;
  }
}

.homeAbout__topRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.homeAbout__imageBio {
  width: 100%;
  filter: var(--base-shadow-filter);

  img {
    border-radius: calc(var(--border-radius-base) * 2);
  }

  @media (prefers-reduced-motion: no-preference) {
    img {
      animation: shake 0.75s forwards ease-in-out;
    }
    &:hover {
      img {
        animation: shake 0.75s infinite ease-in-out;
      }
    }
  }
}

.homeAbout__name {
  font-size: clamp(2rem, 3.8vw, 3.8rem);

  span {
    display: block;
  }
}

.homeAbout__subtitle {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-fg);
  display: block;
}

.homeAbout_minibio {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 40ch;

  a {
    color: var(--color-highlight);
    text-decoration: none;
    @include font_semibold;
  }
}

.homeAbout__seeAllCta {
  @include font_semibold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}
