.homeAbout {
  width: 100%;
}

.homeAbout__name {
  position: relative;
  color: var(--color-fg);
  display: block;
}

.homeAbout__subtitle {
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 2rem;
  color: var(--color-fg);
  display: block;
}

.homeAbout__bio {
  @include short_bio;
}
