.homeAbout {
  margin-bottom: 4rem;

  @media screen and (min-width: 48em) {
    position: sticky;
    top: 2rem;
    max-height: 100vh;
  }
}

.homeAbout__topRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.homeAbout__imageBio {
  width: 100%;
  filter: var(--base-shadow-filter);

  img {
    border-radius: calc(var(--border-radius-base) * 2);
  }
}

.homeAbout__name {
  font-size: clamp(2rem, 4vw, 4rem);

  span {
    display: block;
  }
}

.homeAbout__subtitle {
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.homeAbout_minibio {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 40ch;

  a {
    color: var(--color-highlight);
    text-decoration: none;
    @include font_semibold;
  }
}

.homeAbout__banner__imgContainer {
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: calc(var(--border-radius-base) * 2);
  width: 12.5rem;

  img {
    width: auto;
  }
}

.homeAbout__seeAllCta {
  @include font_semibold;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}
