@mixin homecard {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.homeCard {
  @include homecard;
}

@mixin homecard_title {
  @include font_semibold;
  color: var(--color-fg);
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.homeCard__title {
  @include homecard_title;
}

.homeCard__linkForTitle {
  text-decoration: none;
  margin-bottom: 1rem;

  .homeCard__title {
    margin-bottom: 0;
  }
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

@mixin homecard_excerpt {
  @include font_main;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
  color: var(--color-fg);
  word-break: break-word;
  display: block;
}

.homeCard__excerpt p {
  @include homecard_excerpt;
}

.homeCard__button {
  @include button_main;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  * {
    display: flex;
  }
}

.homeCard__ctaRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .topicsButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 48em) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@mixin homecard__seeallcta {
  @include font_semibold;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}

.homeCard__seeAllCta {
  @include homecard__seeallcta;
}
