.links__html {
  display: grid;
  place-items: center;
  height: 100vmin;
}

.links__body {
  padding: 2rem;
  max-width: 400px;
  text-align: center;
  border-radius: calc(var(--border-radius-base) * 4);
  filter: var(--base-shadow-filter);
  margin-bottom: 2rem;
}

.links {
}

.links__title {
  @include font_semibold;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.links__subtitle {
  @include font_semibold;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.links__image {
  border-radius: 100%;
  filter: var(--base-shadow-filter);
  margin-bottom: 2rem;
}

.links__list {
  padding-inline-start: 0;
  list-style: none;
}

.links__listItem {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.links__listItemLink {
  @include font_semibold;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
  border-radius: 0.75rem;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.links__listItemLink:focus {
  --box-shadow-bg: var(--white);
  --box-shadow-highlight: var(--black);
  border-radius: calc(var(--border-radius-base) * 4);
}
