@use "font";
@use "utils";

@mixin md_paragraph {
  @include font.main;
  font-size: clamp(1.25rem, 1.6vw, 1.5rem);
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--color-fg);

  a {
    @include utils.link_focus;
  }
}

@mixin md_h2 {
  @include font.semibold;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1.25;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

@mixin md_h3 {
  @include font.semibold;
  font-size: 1.875rem;
  line-height: 1.375;
  margin-bottom: 1rem;
  color: var(--color-fg);
}
