@use "font";

.nameLogo {
  @include font.heading;
  transform: rotate(5deg) translate(-5px, -16px);
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nameLogo__top {
  font-size: clamp(2rem, 7vw, 7.5rem);
}

.nameLogo__bottom {
  font-size: clamp(1rem, 4vw, 3.15rem);
}
