.newsletterSignup {
  margin-bottom: 2rem;
}

.newsletterSignup--noMargin {
  margin-bottom: 0;
}

.newsletterSignup__title {
  @include font_bold;
  color: var(--color-link);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;

  span {
    font-family: "Atomic Marker";
    color: var(--orange);
  }
}

.newsletterSignup__para {
  @include font_main;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 1rem;
  color: var(--color-fg-copy);
  word-break: break-word;

  a {
    @include link_focus;
  }
}

.newsletterSignup__form {
}

.newsletterSignup__label {
  @include font_semibold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  color: var(--color-fg-copy);
}

.newsletterSignup__input {
  @include form_input;
  border-radius: var(--border-radius-base);
  height: var(--form-height);
  width: 100%;
  margin-bottom: 0.5rem;

  &:focus {
    @include search_focus_style;
  }
  &:focus-visible {
    @include input_focus;
  }
}

.newsletterSignup__submit {
  background-color: var(--pink);
  display: block;
  border-width: 0;
  border-radius: var(--border-radius-base);
  width: 100%;
  color: var(--white);
  font-family: "Atomic Marker";
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.newsletterSignup__submit:focus-visible {
  @include input_focus;
}
