.nextTwitchStream {
  @include homecard;
}

.nextTwitchStream__link {
  text-decoration: none;
  margin-bottom: 1rem;
}

.nextTwitchStream__meta {
  @include font_semibold;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-fg);
}

.nextTwitchStream__metaInfo--timeUntil {
  text-transform: capitalize;
}

.nextTwitchStream__metaIcon {
  color: var(--color-highlight);
  display: flex;
}

.nextTwitchStream__title {
  @include homecard_title;
}

.nextTwitchStream__noStream {
  @include font_bold;
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5rem;
}

.nextTwitchStream__streamInfo {
  @include homecard_excerpt;
}

.nextTwitchStream__cta {
  @include button_main;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;

  * {
    display: flex;
  }
}

.nextTwitchStream__liveNow {
  @include font_bold;
  background-color: var(--yellow);
  color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.nextTwitchStream__liveNowText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nextTwitchStream__liveNowText:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  animation: flash 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .nextTwitchStream__liveNowText:before {
    animation: none;
  }
}
