.nextTwitchStream {
  @include homecard;
}

.nextTwitchStream img {
  margin: 0 auto 1rem auto;
}

.nextTwitchStream__link {
  text-decoration: none;
  margin-bottom: 1rem;
}

.nextTwitchStream__meta {
  @include font_semibold;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-fg);
}

.nextTwitchStream__metaInfo {
  font-size: 2rem;
}

// remove when next non twitch event is localised
.nextTwitchStream__metaInfo--timeUntil {
  text-transform: capitalize;
}

.nextTwitchStream__metaIcon {
  color: var(--color-highlight);
  display: flex;
}

.nextTwitchStream__title {
  @include homecard_title;
}

.nextTwitchStream__noStream {
  @include font_bold;
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  margin-top: 0.5rem;
}

.nextTwitchStream__streamInfo {
  @include homecard_excerpt_p;
}

.nextTwitchStream__cta {
  @include button_main;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;

  * {
    display: flex;
  }
}

.nextTwitchStream__player {
  aspect-ratio: 16/9;
  margin-bottom: 1rem;
  overflow: hidden;
  filter: var(--base-shadow-filter);
  border-radius: calc(var(--border-radius-base) * 2);

  iframe {
    border-width: 0 !important;
  }
}
