@use "font";

.fourohfour__content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.fourohfour__title {
  @include font.heading;
  font-size: 6rem;
  text-transform: uppercase;
  margin-top: 2rem;
  color: var(--color-accent);
}

.fourohfour__text {
  @include font.serif;
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  color: var(--color-fg);
  display: block;
}

.fourohfour__img {
  box-shadow: 0px 1.5rem 2rem -1rem rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.48);
  border-radius: calc(var(--border-radius-base) * 2);
  width: 100%;
  margin: auto;
  display: block;
}
