.page__index {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.page__header {
}

.page__headerTitle {
  @include font_bold;
  margin: 0 auto clamp(2rem, 3vw, 3rem) auto;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  color: var(--color-fg);
}

.page__intro {
  background-color: var(--card-bg);
  border-radius: var(--border-radius-base);
  padding: clamp(0.75rem, 2.5vw, 1rem);
  margin-bottom: 2rem;
}

.page__introTitle {
  @include font_semibold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin-bottom: 1rem;
}

.page__introText {
  @include font_main;
  font-size: clamp(1rem, 1.4vw, 1.4rem);
  line-height: 1.4;
}
