@use "font";

.page__headerTitle {
  @include font.font_bold;
  margin: 0 auto clamp(2rem, 3vw, 3rem) auto;
  font-size: clamp(2rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  color: var(--color-fg);
}

.page__text {
  @include font.font_main;
  font-size: 1.125rem;
  line-height: 1.75;
  color: var(--color-copy);
}

.page__text--large {
  font-size: 1.5rem;
}
