.postCard {
  --spacing: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: calc(var(--border-radius-base) * 1.5);
  transition: all 0.2s ease-in-out;
  position: relative;
  opacity: 0.8;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--cta2-bg);
    opacity: 1;

    .postCard__topicsGroup {
      background-color: var(--cta2-bg);
    }
  }
}

.postCard__topicsGroup {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--black);
  border-radius: 0 calc(var(--border-radius-base) * 1.5) 0 calc(var(--border-radius-base) * 1.5);
  padding: 0.5rem;
  z-index: 1;
  transition: all 0.2s ease-in-out;

  li {
    display: flex;
  }
}

.postCard__meta {
  @include font_semibold;
  padding-top: calc(var(--spacing) * 1);
  color: var(--color-fg);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.postCard__metaIcon {
  color: var(--color-fg);
  display: flex;
}

.postCard__metaText {
  display: flex;
  margin-right: 1rem;
}

.postCard__title {
  @include font_semibold;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.5rem;
  line-height: 1.2;
  flex-grow: 1;
}

.postCard__titleLink--ais {
  display: block;
}

.postCard__imageWrap {
  background: var(--yellow-red-gradient);
  border-radius: calc(var(--border-radius-base) / 2);
  aspect-ratio: 3 / 1;
  margin-bottom: calc(var(--spacing) * 0.25);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCard__image {
  object-fit: cover;
}
