@use "font";
@use "utils";

[color-mode="dark"] {
  --post-hr-color: var(--pink);
  --table-th-color: var(--color-fg);
  --post-meta-fg-color: var(--color-bg);
}
[color-mode="light"] {
  --post-hr-color: var(--pink);
  --table-th-color: var(--white);
  --post-meta-fg-color: var(--color-fg);
}

.post {
  position: relative;
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "aside"
    "content"
    "author"
    "bsky";
  align-items: flex-start;
  flex-direction: column;

  @media screen and (min-width: utils.$post_breakpoint_md) {
    margin-top: 2rem;
    gap: 1rem;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "title title author"
      "aside content author"
      "bsky bsky bsky";
    grid-template-columns: 2fr 6fr 2fr;
  }

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    margin-top: 4rem;
    gap: 3rem;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "bsky title title author"
      "bsky aside content author";
    grid-template-columns: 1fr 2fr 6fr 2fr;
  }
}

.post__header {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    margin-bottom: 4rem;
    padding: 0;
  }
}

.post__h1 {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 8rem);
  line-height: 1;
  color: var(--color-fg);
  text-wrap: balance;
}

.post__byline {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.post__meta {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 1.5vw, 2rem);
  align-items: flex-start;
}

.post__meta__topic {
  @include font.heading;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--pink);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
  width: max-content;
}

.post__excerpt {
  p {
    @include font.serif;
    font-style: italic;
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.2;
    color: var(--color-fg);
  }
}

.post__separator {
  margin-bottom: 2rem;
  border-color: var(--post-hr-color);
  border-style: solid;
}

.post__article {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: utils.$post_breakpoint_lg) {
    padding: 0;
  }
}

.post__aside {
  grid-area: aside;

  @media screen and (min-width: utils.$post_breakpoint_md) {
    align-self: start;
    position: sticky;
    z-index: 10;
    top: 0;
  }
}

.post__author {
  grid-area: author;
  @media screen and (min-width: utils.$post_breakpoint_md) {
    align-self: start;
    position: sticky;
    z-index: 10;
    top: 0;
  }
}

.post__body {
  margin-bottom: 2rem;
}

.post__hr {
  border-color: var(--color-fg);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__h2 {
  @include font.heading;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 2rem;
  word-break: break-word;
  hyphens: auto;
  color: var(--color-fg);
}

.post__h3 {
  @include font.heading;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-fg);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeading {
  display: block;
  text-decoration: none;
  color: var(--color-fg);
  position: relative;
  @include utils.link_focus;
}

.post__h4,
.post__h5,
.post__h6 {
  @include font.heading;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__p {
  @include font.main;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  line-height: 1.85;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;

  a {
    @include utils.link_focus;
  }
}

.post__p--bold {
  font-family: var(--font-family-bold);
  font-weight: var(--font-weight-bold);
}

.post__p--italic {
  font-style: italic;
}

.post__responsiveImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__codeBlock {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: var(--border-radius-accent);

  [class^="language-"] {
    border-bottom-left-radius: var(--border-radius-accent);
    border-bottom-right-radius: var(--border-radius-accent);
  }
}

.post__codeBlockBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: var(--grey-dark);
  border-radius: var(--border-radius-accent) var(--border-radius-accent) 0 0;
  padding: 0.5rem 1rem;
  position: relative;
}

.post__codeBlockCopyButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  @include font.main;
  color: var(--black);
  border-radius: 0 var(--border-radius-accent) 0 0;
  background: var(--white);

  svg,
  span {
    pointer-events: none;
  }
}

.post__codeBlockCopyButton:focus-visible,
.post__codeBlockCopyButton:active,
.post__codeBlockCopyButton:focus {
  @include utils.link_focus;
}

.post__blockquote {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding: 1rem 1.5rem;
  border-left: 0.25rem solid var(--green);
}

.post__blockquote p {
  font-style: italic;
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-fg);
  @include font.serif;
}

.post__blockquote:before {
  content: '"';
  font-style: italic;
  color: var(--green);
  font-size: 8rem;
  line-height: 0;
  position: relative;
  top: 2rem;
}

.post__externalUrl,
.post__isSponsored {
  @include font.bold;
  margin-bottom: 2rem;
  max-width: max-content;
  color: var(--color-fg);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.post__isSponsoredIcon,
.post__externalUrlIcon {
  margin-right: 0.5rem;
  display: flex;
}

.post__related {
  margin-bottom: 2rem;
}

.post__relatedHeader {
  @include font.semibold;
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  word-break: break-word;
  hyphens: auto;
  color: var(--color-fg);
}

.post__relatedHeaderTitle {
  @include font.heading;
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: right;
  padding: 1rem;
  text-transform: uppercase;
}

.post__relatedGrid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 54em) {
    grid-template-columns: 1fr 1fr;
  }
}

.post__responsiveImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: var(--border-radius-accent);
}

.post__deployToNetlifyButton {
  margin: 2rem auto;
  display: block;
  width: max-content;
}

.post__callout {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 0.25rem solid var(--post-hr-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__calloutTitle {
  @include font.bold;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__calloutContent {
  @include font.main;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-fg);
  word-break: break-word;
}

.post__calloutContent p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post__calloutContent blockquote {
  margin-inline-start: 1rem;
}

.post__calloutContent blockquote p {
  @include font.semibold;
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
  line-height: 1.7;
}

.post__calloutContent blockquote:before {
  content: '"';
  font-style: italic;
  color: var(--orange);
  font-size: 10rem;
  line-height: 0;
  position: relative;
  top: 4rem;
}

.post__outOfDate {
  @include font.semibold;
  line-height: 1.3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.post__referer {
  @include font.semibold;
  display: block;
  max-width: var(--post-max-width);
  font-size: 1rem;
  margin: 1rem auto 2rem auto;
  color: var(--color-fg);
  line-height: 1.4;
  font-style: italic;

  a {
    display: inline-block;
    line-height: inherit;
    position: relative;

    @include utils.link_focus;
  }
}

.post__arcadeEmbed {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.post__tableWrapper {
  overflow-x: auto;
}

.post__table {
  --cell-padding: clamp(0.5rem, 0.75vw, 0.75rem);

  border-collapse: collapse;
  word-break: normal;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.post__tableHeader {
  @include font.semibold;
  text-align: left;
  border: 1px solid var(--color-fg);
  padding: var(--cell-padding);
  background: var(--grey-mid);
  color: var(--table-th-color);
}

.post__tableRow {
}

.post__tableCell {
  @include font.main;
  text-align: left;
  word-wrap: break-word;
  padding: var(--cell-padding);
  border: 1px solid var(--color-fg);
  vertical-align: top;
}

.post__likes {
  grid-area: bsky;
}

.post__likesTitle {
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color-fg);
  background: var(--color-bg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;

  svg {
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    color: var(--pink);
  }

  @include utils.link_focus;
  text-decoration: none;

  &:hover,
  &:focus {
    svg {
      transform: scale(1.2) rotate(15deg);
      filter: url(#distort_from_footer);
    }
  }
}

.post__likesList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__like {
  aspect-ratio: 1/1;
  display: flex;
  flex: 1 1 5rem;
  justify-content: center;
  align-items: center;

  @include utils.half_tone;
}

.post__like__avatar {
  filter: grayscale(1) brightness(90%) contrast(150%);
  width: auto;
  height: 100%;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    filter: unset;
  }
}

.post__like--placeholder,
.post__like--howManyMore {
  @include font.bold;
  font-size: 1rem;
  background-color: var(--pink);
  color: #fff;
  filter: unset;
  flex: 0 1 4rem;

  &::before {
    content: unset;
  }
}
