.projects__index {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.projects__header {
  @include grid_header;
}

.projects__headerTitle {
  @include grid_header_title;
}

.projects__grid {
  @include grid;
}

.project {
  @include grid_item;
}

.project__image {
  margin-bottom: 2rem;
  border-radius: var(--border-radius-base);
  overflow: hidden;
}

.project__image * {
  display: block;
}

.project__name {
  @include font_semibold;
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.8rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.project__description {
  @include font_main;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 2rem;
}

.project__stats {
  color: var(--color-highlight);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.project__statsItem {
  @include font_bold;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.project__statsItemDeet {
  @include sr_only;
}

.project__link {
  @include font_semibold;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0.5rem;
  word-break: break-word;
  display: block;
}

.project__viewSource {
  @include button_main;
  gap: 0.5rem;
  max-width: max-content;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
