@use "font";

.publishedDate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.publishedDate__item {
  @include font.bold;
  color: var(--color-fg);
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-grow: 0;
  align-self: flex-start;
}
