@use "font";
@use "root";

* {
  box-sizing: border-box;
  margin: 0;
  // this is to ensure the background texture layers work
  // do not remove and think you don't need it!
  z-index: 1;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

strong {
  @include font.font_bold;
}

:target {
  scroll-margin-block-start: 7rem;
}

/* END RESET */

body {
  @include font.font_main;
  font-size: 1rem;
  color: var(--color-fg);
  position: relative;

  min-height: 100vh;
  background: var(--page-bg);
}

main {
  margin: auto;
  // max-width: var(--global-max-width);
  overflow: hidden;
}
