* {
  box-sizing: border-box;
  margin: 0;
  // this is to ensure the background texture layers work
  // do not remove and think you don't need it!
  z-index: 1;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background-color: var(--color-bg);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

strong {
  @include font_bold;
}

/* END RESET */

body {
  @include font_main;
  font-size: 1rem;
  color: var(--color-fg);
  padding: var(--body-horizontal-padding-sm);
  position: relative;

  min-height: 100vh;
  background: var(--color-bg);
  background-image: var(--page-bg);
  background-attachment: fixed !important;

  @media screen and (min-width: 48rem) {
    padding: 1rem var(--body-horizontal-padding-lg);
  }
}

@keyframes fadeInBrush {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  margin: 6rem auto auto auto;
  max-width: var(--global-max-width);

  @media screen and (min-width: $global_md_breakpoint) {
    margin-top: 10rem;
  }

  &:before {
    animation: fadeInBrush 0.42s ease-in-out;
    @include font_atomic_extras_two;
    content: "M" / "";
    color: var(--color-brush-bg);
    position: fixed;
    z-index: -1;
    opacity: 50%;
    mix-blend-mode: overlay;
    font-size: 1000px;
    line-height: 1;
    right: -10%;
    top: 5%;
  }

  &:after {
    content: var(--whitep4nth3r-bg-svg) / "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

// * {
//   outline: 2px solid var(--pink);
// }
