* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background: var(--yellow-red-gradient);
  padding: 0.5rem;

  @media screen and (min-width: 900px) {
    padding: 0.75rem;
  }
}

body {
  @include font_main;
  font-size: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1rem 2rem;
  border-radius: calc(var(--border-radius-base) * 2);
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

a:hover {
  cursor: pointer;
}

a:focus,
summary:focus {
  outline: transparent;
  outline-style: solid;
  box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-highlight) 0 0 0 0.375rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
  border-radius: var(--border-radius-base);
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  @include font_bold;
}
