@use "font";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font.heading;
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.25rem;
}

strong {
  @include font.bold;
}

:target {
  scroll-margin-block-start: 7rem;
}

/* END RESET */

body {
  @include font.main;
  font-size: 1rem;
  position: relative;
}

main {
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }

  ::view-transition-group(root) {
    animation-duration: 0.4s;
  }
}
