:root {
  --red: #f11012;
  --pink: #f0047f;
  --green: #82af3a;
  --black: #0e0016;
  --black-alt: #1f1823;
  --grey-dark: #2b2e3a;
  --white: #faefff;
  --white-alt: #f7d9ff;
  --yellow: #ffb626;
  --orange: #fc814a;
  --twitch-purple: #9146ff;

  --font-family-bold: "Work Sans Bold", sans-serif;
  --font-weight-bold: 700;
  --font-family-heading: "Work Sans SemiBold", sans-serif;
  --font-weight-heading: 500;
  --font-family-main: "Work Sans Light", sans-serif;
  --font-weight-main: 300;

  --border-radius-base: 0.375rem;

  --feed-max-width: 510px;
  --post-max-width: 980px;
  --grid-max-width: 1280px;

  --base-shadow-filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));

  --global-transition-time: 0.21s;
  --scroll-behaviour: smooth;
}

[color-mode="dark"] {
  color-scheme: dark;

  --toggle-button-bg: #000;
  --toggle-button-color: var(--white);

  --cta2-bg: var(--grey-dark);

  --page-bg: radial-gradient(farthest-corner at 100% 100%, var(--black-alt) 0%, var(--black) 50%);
  --svg-bg: url("/img/whitep4nth3r-darkmode.svg");

  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-bg-lighter: var(--grey-dark);

  --color-link: var(--color-fg);
  --color-highlight: var(--yellow);

  --lighthouse-green-fg: rgb(27, 195, 106);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(30, 46, 47);

  --lighthouse-orange-fg: rgb(251, 157, 70);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(52, 43, 34);

  --lighthouse-red-fg: rgb(250, 40, 52);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(52, 31, 32);

  --lighthouse-container-bg: rgb(29, 30, 32);

  --activity-feed-bg: rgba(0, 0, 0, 0.16);
  --activity-feed-bg-hover: rgba(0, 0, 0, 0.4);
  --activity-feed-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --activity-feed-box-shadow-hover: inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

[color-mode="light"] {
  color-scheme: light;

  --toggle-button-bg: var(--white);
  --toggle-button-color: var(--black);

  --cta2-bg: var(--yellow);

  --page-bg: radial-gradient(farthest-corner at 100% 100%, var(--white-alt) 0%, var(--white) 50%);
  --svg-bg: url("/img/whitep4nth3r-lightmode.svg");

  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-bg-lighter: var(--white);

  --color-link: var(--color-fg);
  --color-highlight: var(--black);

  --lighthouse-green-fg: rgb(15, 123, 38);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(233, 249, 240);

  --lighthouse-orange-fg: rgb(184, 42, 22);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(255, 246, 237);

  --lighthouse-red-fg: rgb(193, 0, 19);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(255, 234, 235);

  --lighthouse-container-bg: #ffffff;

  --activity-feed-bg: rgba(255, 255, 255, 0.32);
  --activity-feed-bg-hover: rgba(255, 255, 255, 0.72);
  --activity-feed-box-shadow: 0px 0px 0px -16px rgba(27, 27, 27, 0.01),
    inset 0px 1px 0px rgba(255, 255, 255, 0.16);
  --activity-feed-box-shadow-hover: 0px 24px 32px -16px rgba(27, 27, 27, 0.16),
    inset 0px 1px 0px rgba(255, 255, 255, 0.16);
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --global-transition-time: 0;
    --scroll-behaviour: auto;
  }
}
