@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@media (prefers-reduced-motion: reduce) {
  :root {
    --global-transition-time: 0;
    --scroll-behaviour: auto;
  }
}

$global_md_breakpoint: 768px;

:root {
  --pink: #f0047f;
  --pink-light: #f890c6;
  --black: #000000;
  --black-alt: #1f1823;
  --grey-dark: #2b2e3a;
  --grey-mid: #475467;
  --white: #ffffff;
  --orange: #fc814a;

  --body-horizontal-padding-sm: 1rem;
  --body-horizontal-padding-lg: 2.5rem;

  --font-family-main: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  --font-family-heading: "Anton", sans-serif;

  --font-weight-bold: 700;
  --font-weight-mid: 700;
  --font-weight-main: 400;

  --border-radius-base: 0.25rem;

  --global-max-width: 1440px;
  --feed-max-width: 510px;
  --post-max-width: 1064px;

  --base-shadow-filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));

  --global-transition-time: 0.21s;
  --scroll-behaviour: smooth;

  --form-height: 48px;
}

[color-mode="dark"] {
  color-scheme: dark;
  --page-bg: var(--black);

  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-fg-copy: var(--white);
  --color-link: var(--pink-light);
  --color-focus-outline: var(--pink-light);
  --bio-image-container-bg: rgb(250, 239, 255, 0.16);
}

[color-mode="light"] {
  color-scheme: light;
  --page-bg: var(--white);
  --whitep4nth3r-bg-svg: url("/img/whitep4nth3r-lightmode.svg");
  --bg-brush: url("/img/brush-light.svg");

  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-fg-copy: var(--black);
  --color-link: var(--pink);
  --color-focus-outline: var(--pink);

  --bio-image-container-bg: rgb(14, 0, 22, 0.08);
}
