@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gilda+Display&family=Space+Grotesk:wght@300..700&display=swap");

@media (prefers-reduced-motion: reduce) {
  :root {
    --scroll-behaviour: auto;
  }
}

:root {
  --pink: #f0047f;
  --green: #c3eb78;
  --black: #000000;
  --grey-dark: #2b2e3a;
  --grey-mid: #475467;
  --white: #ffffff;

  --font-family-main: "Space Grotesk", sans-serif;
  --font-family-heading: "Anton", sans-serif;
  --font-family-serif: "Gilda Display", serif;

  --font-weight-bold: 700;
  --font-weight-mid: 700;
  --font-weight-main: 400;

  --border-radius-base: 0;
  --border-radius-accent: 3px;

  --feed-max-width: 510px;
  --scroll-behaviour: smooth;
}

[color-mode="dark"] {
  color-scheme: dark;
  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-link: var(--pink);
  --color-accent: var(--green);
}

[color-mode="light"] {
  color-scheme: light;
  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-link: var(--pink);
  --color-accent: var(--pink);
}
