:root {
  --white: #ffffff;
  --grey-dark: #2b2e3a;

  --red: #f11012;
  --green: #82af3a;
  --black: #0f111a;
  --white: #ffffff;
  --yellow: #ffb626;

  --font-family-bold: "Work Sans Bold", sans-serif;
  --font-weight-bold: 700;
  --font-family-heading: "Work Sans SemiBold", sans-serif;
  --font-weight-heading: 500;
  --font-family-main: "Work Sans Light", sans-serif;
  --font-weight-main: 300;

  --border-radius-base: 0.375rem;

  --color-bg: var(--black);
  --color-bg-lighter: var(--grey-dark);
  --color-bg-button: var(--grey-dark);
  --color-button: var(--white);
  --color-fg: var(--white);
  --color-link: var(--color-fg);
  --color-highlight: var(--yellow);
  --color-logo: var(--color-fg);

  --post-max-width: 980px;
  --grid-max-width: 1280px;

  --yellow-red-gradient: linear-gradient(
    90deg,
    hsl(359deg 89% 50%) 0%,
    hsl(11deg 92% 50%) 11%,
    hsl(18deg 98% 49%) 22%,
    hsl(23deg 100% 49%) 33%,
    hsl(27deg 100% 49%) 44%,
    hsl(30deg 100% 49%) 56%,
    hsl(34deg 100% 50%) 67%,
    hsl(36deg 99% 52%) 78%,
    hsl(38deg 100% 55%) 89%,
    hsl(40deg 100% 57%) 100%
  );

  --global-transition-time: 0.2s;
  --scroll-behaviour: smooth;

  --lighthouse-green-fg: rgb(27, 195, 106);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(30, 46, 47);

  --lighthouse-orange-fg: rgb(251, 157, 70);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(52, 43, 34);

  --lighthouse-red-fg: rgb(250, 40, 52);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(52, 31, 32);

  --lighthouse-container-bg: var(--grey-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--white);
    --color-bg-lighter: var(--white);
    --color-fg: var(--black);
    --color-link: var(--color-fg);
    --color-highlight: var(--black);

    --lighthouse-green-fg: rgb(15, 123, 38);
    --lighthouse-green-stroke: rgb(27, 195, 106);
    --lighthouse-green-bg: rgb(233, 249, 240);

    --lighthouse-orange-fg: rgb(184, 42, 22);
    --lighthouse-orange-stroke: rgb(251, 157, 70);
    --lighthouse-orange-bg: rgb(255, 246, 237);

    --lighthouse-red-fg: rgb(193, 0, 19);
    --lighthouse-red-stroke: rgb(250, 40, 52);
    --lighthouse-red-bg: rgb(255, 234, 235);

    --lighthouse-container-bg: #ffffff;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --global-transition-time: 0;
    --scroll-behaviour: auto;
  }
}

::selection {
  background: var(--color-highlight);
  color: var(--color-bg);
}
