@use "utils";

.socialLinks {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 0.25rem;
}

.socialLinks--about {
  justify-content: flex-end;
}

.socialLinks li {
  display: flex;
  justify-self: center;
  align-items: center;
}

[color-mode="dark"] {
  .socialLinks__item {
    svg {
      path {
        fill: var(--color-fg);
      }
    }
  }
}

.socialLinks__item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  position: relative;

  @include utils.link_focus;
}
