@use "font";

// .speakerDeckLink {
// }

.speakerDeckLink__viewCta {
  @include font.font_semibold;
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}
