@use "font";
@use "utils";

.speakerDeckLink {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[color-mode="dark"] {
  --sd_link_color: var(--green);
}
[color-mode="light"] {
  --sd_link_color: var(--pink);
}

.speakerDeckLink__viewCta {
  @include font.heading;
  color: var(--sd_link_color);
  font-size: clamp(2rem, 3vw, 3rem);
  text-decoration: underline;
  text-underline-offset: clamp(0.25rem, 0.5vw, 0.5rem);
  text-decoration-thickness: 0.5rem;

  @include utils.link_focus;
}
