$sponsor_layout_breakpoint: 881px;



.sponsorships {
  max-width: 1040px;
  margin: auto;
}

.sponsorships__title {
  @include font_bold;
  font-size: clamp(2.25rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

.sponsorships__intro {
  display: grid;
  gap: 2rem;
  margin-bottom: 3rem;
  @media screen and (min-width: $sponsor_layout_breakpoint) {
    grid-template-columns: 1fr 2fr;
  }
}

.sponsorships__introText {
  h2 {
    @include md_h2;
  }

  h3 {
    @include md_h3;
    font-weight: var(--font-weight-main);
    color: var(--color-fg-copy);
  }

  p {
    @include md_paragraph($fontSize: 1.25rem, $lineHeight: 1.6);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.sponsorships__author {
  width: 20rem;
}

.sponsorships__content {
  h2 {
    @include md_h2;
  }

  h3 {
    @include md_h3;
    margin-top: 2rem;
  }

  p {
    @include md_paragraph($fontSize: 1.25rem, $lineHeight: 1.6);
  }
}

.sponsorships__packages {
  display: grid;
  margin: 2rem 0;

  @media screen and (min-width: $sponsor_layout_breakpoint) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.sponsorships__testimonials {
  display: grid;
  gap: 2rem;
  margin-top: 3rem;

  @media screen and (min-width: $sponsor_layout_breakpoint) {
    grid-template-columns: 1fr 1fr;
  }
}
