@use "font";
@use "utils";

.tableOfContents {
  margin-bottom: 2rem;
}

.tableOfContents__list {
  list-style: none;
  padding: 0;
}

[color-mode="dark"] {
  --table-of-contents-header-color: var(--green);
}
[color-mode="light"] {
  --table-of-contents-header-color: var(--pink);
}

.tableOfContents__header {
  @include font.bold;
  color: var(--table-of-contents-header-color);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  cursor: pointer;

  @include utils.link_focus;
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  @include font.main;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-fg-copy);
  text-decoration: none;
  display: block;

  @include utils.link_focus;
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}

.tableOfContents__item--cat {
  text-transform: capitalize;
}
