.talks__index {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.talks__header {
  @include grid_header;
}

.talks__headerTitle {
  @include grid_header_title;
}

.talks__grid {
  @include grid;
}

.talks__gridItem {
  @include grid_item;
}
