$tc_layout_breakpoint: 62.5em;
$tc_layout_height: 70vh;
$tc_layout_left_width: 26.25rem;

@mixin tc_layout_container {
  display: block;
  margin: auto;
  gap: 2rem;

  @media screen and (min-width: $tc_layout_breakpoint) {
    display: flex;
    flex-direction: row;
  }
}

@mixin tc_layout_left($width: $tc_layout_left_width) {
  @media screen and (min-width: $tc_layout_breakpoint) {
    width: $width;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: $tc_layout_height;
  }
}

@mixin tc_layout_fixed($height: $tc_layout_height) {
  @media screen and (min-width: $tc_layout_breakpoint) {
    position: fixed;
    height: $height;
    max-width: 26.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@mixin tc_layout_scroll {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1080px;
  margin: auto;
}
