.testimonial {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "image quote"
    "image attr";
  padding: 2rem;
}
.testimonial__quote {
  grid-area: quote;
  @include font_main;
  font-size: 1.2rem;
  line-height: 1.2;
  font-style: italic;
}

.testimonial__image {
  grid-area: image;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1/1;
}

.testimonial__attr {
  grid-area: attr;
  @include font_semibold;

  a {
    @include link_focus;
  }
}
