@use "blog";
@use "font";
@use "utils";

[color-mode="dark"] {
  --topics-item-hover-bg: rgba(255, 255, 255, 0.09);
}
[color-mode="light"] {
  --topics-item-hover-bg: rgba(0, 0, 0, 0.09);
}

.topics {
  list-style: none;
  display: block;
  padding-left: 0.175rem;
  padding-right: 0.175rem;
  padding-bottom: 0.75rem;
}

.topics__topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.topics__closeButton {
  display: block;
  appearance: none;
  background: transparent;
  color: var(--color-fg);
  outline: transparent;
  border-color: transparent;
  padding: 0;

  &:focus-visible {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 2px #404040,
      0px 0px 0px 6px var(--pink), 0px 1px 2px rgba(16, 24, 40, 0.05),
      inset 0px -2px 0px rgba(0, 0, 0, 0.24), inset 0px 2px 0px rgba(255, 255, 255, 0.32);
    outline: var(--color-bg);
  }

  @media screen and (min-width: blog.$blog_mobile_layout_break) {
    display: none;
  }
}

.topics__title {
  @include font.font_semibold;
  font-size: 1rem;
}

.topics__meta {
  @include font.font_semibold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.topics__listItemLink {
  display: block;
  @include font.font_semibold;
  color: var(--color-fg);
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 0.635rem 0.875rem;
  border-radius: var(--border-radius-base);
  transition: background-color var(--global-transition-time) ease-in-out;

  &:hover {
    background-color: var(--topics-item-hover-bg);
  }

  @include utils.link_focus;
}

.topics__listItemLink--selected {
  background-color: var(--pink);
  color: var(--white);

  &:hover {
    background-color: var(--pink);
    color: var(--white);
  }
}
