.topics {
  list-style: none;
  padding-left: 0;
  display: block;
}

.topics__title {
  @include font_semibold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.topics__listItemLink {
  display: block;
  @include font_semibold;
  color: var(--color-fg);
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  padding: 0.635rem 0.875rem;
  border-radius: var(--border-radius-base);
  transition: background-color var(--global-transition-time) ease-in-out;

  &:hover {
    background-color: var(--blog-cat-hover-bg);
  }
}

.topics__listItemLink--selected {
  background-color: var(--pink);
  color: var(--white);

  &:hover {
    background-color: var(--pink);
    color: var(--white);
  }
}
