.twitchInfo {
  --thumbnail-outer-radius: calc(var(--border-radius-base) * 2);
  --thumbnail-inner-padding: calc(var(--border-radius-base) / 2);
  --title-bottom-left-radius: calc(var(--thumbnail-outer-radius) - var(--thumbnail-inner-padding));
  --title-font-size: clamp(1rem, 1.5vw, 1.5rem);
  --title-padding: 0.75rem;
  display: block;
  height: 100%;
  width: 100%;
}

.twitchInfo__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
}

.twitchInfo__thumbnail {
  aspect-ratio: 16/9;
  border-radius: var(--thumbnail-outer-radius);
  background-color: var(--color-fg);
  z-index: 0;
  position: relative;
  width: auto;
  height: 100%;
  box-shadow: 0px 1.5rem 2rem -1rem rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.48);
  filter: grayscale(1);
  transition: all var(--global-transition-time) ease-in-out;

  &:hover {
    filter: grayscale(0);
  }
}

.twitchInfo__deets {
  position: absolute;
  z-index: 1;
  bottom: var(--thumbnail-inner-padding);
  left: var(--thumbnail-inner-padding);
  right: var(--thumbnail-inner-padding);
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: space-between;
}

.twitchInfo__streamTitleContainer {
  padding: var(--title-padding);
  background: rgba(27, 27, 27, 0.9);
  backdrop-filter: blur(6px);
  border-radius: calc(var(--border-radius-base) * 0.75);
  border-bottom-left-radius: var(--title-bottom-left-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.twitchInfo__streamTitle {
  @include font_semibold;
  font-size: var(--title-font-size);
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.twitchInfo__live {
  svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  @include font_semibold;
  font-size: var(--title-font-size);
  font-style: italic;

  min-width: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  background: linear-gradient(145.04deg, var(--pink) 60.34%, var(--orange) 98.77%);
  color: var(--white);
  padding: var(--title-padding);
  border-radius: calc(var(--border-radius-base) * 0.75);
  border-bottom-right-radius: var(--title-bottom-left-radius);
}
