.twoColumn__header {

}

.twoColumn__headerTitle {

}

.twoColumn {
  max-width: var(--grid-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 3rem;
  }
}

.twoColumn__aside {
  flex-direction: column;
  display: none;
}

.twoColumn__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.twoColumn__content {
  display: flex;
  flex-direction: column;
}

.twoColumn__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .twoColumn__aside {
    display: flex;
  }

  .twoColumn__inlineAside {
    display: none;
  }
}
