.uses {
  max-width: var(--global-max-width);
  margin: auto;
}

.uses_catHeading {
  @include font_atomic;
  font-size: 2.5rem;
  color: var(--orange);
  transform: rotate(-10deg);
  transform-origin: top left;

  position: relative;
  top: 2.5rem;
  z-index: 10;
}

.uses__list {
  @include card_grid;
}
