@mixin sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin search_focus_style {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  box-shadow: inset var(--color-fg) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

@mixin meta_label {
  @include font_semibold;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  width: max-content;
}

@mixin meta_label_alt {
  @include font_semibold;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--pink);
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.125rem 0.5rem;
  width: max-content;
}

@mixin link_focus {
  &:active,
  &:focus {
    outline: transparent;
    outline-style: solid;
    transition: clip-path var(--global-transition-time) ease-in-out;

    &::before {
      --s: 0.2rem; /* spread-radius */
      --x: 0px; /* X offset */
      --y: 0px; /* Y offset */
      --b: 0px; /* blur-radius*/
      content: "";
      border-radius: 0.25rem;
      position: absolute;
      inset: calc(-1 * var(--s) + 0.125rem);
      transform: translate(var(--x), var(--y));
      clip-path: polygon(
        -100vmax -100vmax,
        100vmax -100vmax,
        100vmax 100vmax,
        -100vmax 100vmax,
        -100vmax -100vmax,
        calc(0px + var(--s) - var(--x)) calc(0px + var(--s) - var(--y)),
        calc(0px + var(--s) - var(--x)) calc(100% - var(--s) - var(--y)),
        calc(100% - var(--s) - var(--x)) calc(100% - var(--s) - var(--y)),
        calc(100% - var(--s) - var(--x)) calc(0px + var(--s) - var(--y)),
        calc(0px + var(--s) - var(--x)) calc(0px + var(--s) - var(--y))
      );
      filter: blur(var(--b));
      background: linear-gradient(145deg, var(--pink) 60%, var(--orange) 98%);
    }
  }
}
