@use "font";

$post_breakpoint_lg: 1280px;
$post_breakpoint_md: 1080px;

@mixin sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only {
  @include sr_only;
}

@mixin input_focus {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  box-shadow: inset var(--color-fg) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

@mixin link_focus {
  &:focus-visible,
  &:focus {
    outline-color: var(--pink);
    outline-style: solid;
    outline-width: 0.25rem;
    outline-offset: -0.25rem;
  }
}

@mixin card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
  }
}

@mixin half_tone {
  overflow: hidden;
  filter: contrast(150%);

  &::before {
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    content: "";
    position: absolute;
    transform: rotate(20deg);
    background: radial-gradient(circle at center, #000, #fff);
    background-size: 0.15em 0.15em;
  }

  * {
    mix-blend-mode: hard-light;
    object-fit: cover;
  }
}

.page__header {
  @include font.heading;
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: 1;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: uppercase;
  padding: 1rem;
}
