@mixin sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin input_focus {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  box-shadow: inset var(--color-fg) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

@mixin link_focus {
  &:focus-visible {
    outline: transparent;
    outline-style: solid;
    box-shadow: var(--color-bg) 0 0 0 0.08rem, var(--color-focus-outline) 0 0 0 0.24rem;
    transition: box-shadow var(--global-transition-time) ease-in-out;
    border-radius: var(--border-radius-base);
  }
}

@mixin card_grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  padding-left: 0;
  grid-auto-rows: 1fr;

  li {
    display: flex;
  }
}

[color-mode="dark"] {
  --input-bg: rgba(255, 255, 255, 0.06);
  --input-border: 0.0625rem solid rgba(255, 255, 255, 0.18);
}

[color-mode="light"] {
  --input-bg: rgba(0, 0, 0, 0.07);
  --input-border: 1px solid rgba(0, 0, 0, 0.14);
}

@mixin form_input {
  @include font_main;
  background-color: var(--input-bg);
  color: var(--color-fg);
  border: var(--input-border);
  border-radius: var(--border-radius-base);
  font-size: 1rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
