@use "font";

.videoEmbed__cta {
  @include font.font_main;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--color-fg-copy);
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 1rem;
  margin-top: 2rem;
  filter: var(--base-shadow-filter);
  border-radius: calc(var(--border-radius-base) * 2);
  overflow: hidden;
}

.videoEmbed__ytShort {
  .eleventy-plugin-youtube-embed {
    lite-youtube {
      aspect-ratio: 9/16;
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}
