.video {
  position: relative;
  aspect-ratio: 16/9;

  /* address the magic numbers here, see _reset.scss */
  margin-top: -8rem;

  @media screen and (min-width: $global_md_breakpoint) {
    margin-top: -12rem;
  }
}

.video__banner {
  width: 100vw;
  height: 100svh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("/.netlify/images/?url=/img/salma_on_sofa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  filter: contrast(1.1);
  transition: height 0.2s ease-in-out;

  @media screen and (min-width: $global_md_breakpoint) {
    height: 60svh;
  }
}

.video__bannerImg {
  width: 100%;
}

.video__headline {
  @include font_bold;
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(3rem, 14vw, 13rem);
  opacity: 0.8;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  max-width: var(--global-max-width);
  width: 100%;
  mix-blend-mode: plus-lighter;
  line-height: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.video__grid {
  @include card_grid;
}

.video__gridHeader {
  @include font_bold;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: clamp(2.5rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  color: var(--color-fg);
  max-width: var(--post-max-width);
  text-wrap: balance;
}

.video__gridHeader--sub {
  @include font_semibold;
  font-size: 1.4rem;
  word-break: break-word;
  hyphens: auto;
}

.video__content {
  max-width: var(--post-max-width);

  p {
    @include font_main;
    font-size: 1.125rem;
    line-height: 1.75;
    margin-bottom: 1rem;
    color: var(--color-fg-copy);
    word-break: break-word;

    a {
      @include link_focus;
    }
  }
}
