.videoEmbed__cta {
  @include font_heading;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-highlight);
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 1rem;
}

.videoEmbed__tiktok {
  max-width: 542px;
  margin-left: auto;
  margin-right: auto;
}

.eleventy-plugin-embed-tiktok {
  margin-bottom: 1rem;
  border-radius: var(--border-radius-base);
}
