.video {
  position: relative;
  aspect-ratio: 16/9;

  /* address the magic numbers here, see _reset.scss */
  margin-top: -8rem;

  @media screen and (min-width: $global_md_breakpoint) {
    margin-top: -12rem;
  }
}

.video__banner {
  width: 100vw;
  height: 100svh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/.netlify/images/?url=/img/salma_on_sofa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;

  @media screen and (min-width: $global_md_breakpoint) {
    justify-content: center;
  }
}

.video__bannerImg {
  width: 100%;
}

.video__headline {
  padding: clamp(0.5rem, 1vw, 1rem);
  position: absolute;
  right: 0;
  width: 100%;
  @media screen and (min-width: $global_md_breakpoint) {
    width: 50%;
  }
}
