@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.4s;
}

.vt__bioImage {
  view-transition-name: bio-image;
}

.vt__nameLogo {
  view-transition-name: name-logo;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation-duration: 1s;
  }

  .vt__bioImage,
  .vt__nameLogo {
    view-transition-name: none;
  }
}
