@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.4s;
}

@keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-old(root) {
    animation: 0.4s ease-in both move-out;
  }

  ::view-transition-new(root) {
    animation: 0.4s ease-in both move-in;
  }
}

.vt__bioImage {
  view-transition-name: bio-image;
}

.vt__nameLogo {
  view-transition-name: name-logo;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation-duration: 1s;
  }

  .vt__bioImage,
  .vt__nameLogo {
    view-transition-name: none;
  }
}
