@use "font";
@use "utils";

.webring__actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 1080px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  align-items: stretch;
}

[color-mode="dark"] {
  --join-border-color: var(--color-green);
  --random-border-color: var(--white);
}

[color-mode="light"] {
  --join-border-color: var(--black);
  --random-border-color: var(--black);
}

.webring__join {
  display: flex;
  flex: 1 1 auto;
  @include font.heading;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--green);
  color: var(--black);
  border: var(--join-border-color) 0.25rem solid;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  line-height: 1;

  @include utils.link_focus;

  &:focus-visible,
  &:focus {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

.webring__random {
  flex: 1 1 auto;
  @include font.serif;
  font-style: italic;
  font-size: 2rem;
  background: var(--color-fg);
  color: var(--color-bg);
  border: var(--random-border-color) 0.25rem solid;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  line-height: 1;

  @include utils.link_focus;

  &:focus-visible,
  &:focus {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

.webring__members {
  @include utils.card_grid;
  list-style: none;
  padding: 2rem;
  margin: 0;
  gap: 1rem;
}

.webring__members__listItem {
  border-radius: var(--border-radius-accent);
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  flex-grow: 1;
  gap: 2rem;
  justify-content: flex-start;
  border: 1px solid var(--subtle-border-color);
}

.webring__members__listItemName {
  @include font.heading;
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 2.5rem);
  filter: url(#distort_from_footer);
}

.webring__members__listItemLinks {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
}

.webring__members__listItemLink--feed {
  color: var(--color-accent);
}

.webring__members__listItemLink--website {
  align-self: flex-end;
}
