.webmentions {
}

.webmentions__likes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  gap: 0.25rem;
}

.webmentions__likesHeader {
  @include font_semibold;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.webmentions__avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}
