@import "font";
@import "root";
@import "reset";
@import "utils";
@import "keyframes";

@import "button";

@import "grid";

@import "header";
@import "footer";
@import "home";
@import "home-about";
@import "blog";
@import "talks";
@import "about";
@import "topics";
@import "post";
@import "pagination";
@import "published-date";
@import "table-of-contents";
@import "blog-sidebar-topics";
@import "blog-sidebar-author";
@import "post-card";
@import "topics-button";
@import "home-card";
@import "next-twitch-stream";
@import "speaker-deck-link";
@import "video-embed";
@import "codepen-embed";
@import "see-all-cta";
@import "dashboard";
@import "projects";
@import "uses";
@import "twoColumnWide";
@import "bio";
@import "lighthouse-comparison";
@import "404";

@import "ais";
@import "prism";

/* START TEMP */

main {
  margin: auto;
}

// convert to mixin or something
.colorHighlight {
  color: var(--color-highlight);
}
/* END TEMP */
