@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans SemiBold";
  src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans Bold";
  src: url("/fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
:root {
  --red: #f11012;
  --pink: #f00480;
  --green: #82af3a;
  --black: #0f111a;
  --grey-dark: #2b2e3a;
  --white: #ffffff;
  --yellow: #ffb626;
  --twitch-purple: #9146ff;
  --color-bg-button: var(--grey-dark);
  --color-button: var(--white);
  --color-logo: var(--color-fg);
  --font-family-bold: "Work Sans Bold", sans-serif;
  --font-weight-bold: 700;
  --font-family-heading: "Work Sans SemiBold", sans-serif;
  --font-weight-heading: 500;
  --font-family-main: "Work Sans Light", sans-serif;
  --font-weight-main: 300;
  --border-radius-base: 0.375rem;
  --feed-max-width: 510px;
  --post-max-width: 980px;
  --grid-max-width: 1280px;
  --base-shadow-filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));
  --yellow-red-gradient: linear-gradient(
    90deg,
    hsl(359deg 89% 50%) 0%,
    hsl(11deg 92% 50%) 11%,
    hsl(18deg 98% 49%) 22%,
    hsl(23deg 100% 49%) 33%,
    hsl(27deg 100% 49%) 44%,
    hsl(30deg 100% 49%) 56%,
    hsl(34deg 100% 50%) 67%,
    hsl(36deg 99% 52%) 78%,
    hsl(38deg 100% 55%) 89%,
    hsl(40deg 100% 57%) 100%
  );
  --yellow-pink-gradient: linear-gradient(
    90deg,
    hsl(328deg 97% 48%) 0%,
    hsl(338deg 98% 57%) 12%,
    hsl(348deg 100% 62%) 25%,
    hsl(359deg 100% 66%) 37%,
    hsl(10deg 100% 64%) 50%,
    hsl(20deg 100% 62%) 62%,
    hsl(28deg 100% 60%) 74%,
    hsl(34deg 100% 58%) 87%,
    hsl(40deg 100% 57%) 100%
  );
  --global-transition-time: 0.2s;
  --scroll-behaviour: smooth;
}

[color-mode=dark] {
  color-scheme: dark;
  --toggle-button-bg: #000;
  --toggle-button-color: var(--white);
  --cta2-bg: var(--grey-dark);
  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-bg-lighter: var(--grey-dark);
  --color-link: var(--color-fg);
  --color-highlight: var(--yellow);
  --lighthouse-green-fg: rgb(27, 195, 106);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(30, 46, 47);
  --lighthouse-orange-fg: rgb(251, 157, 70);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(52, 43, 34);
  --lighthouse-red-fg: rgb(250, 40, 52);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(52, 31, 32);
  --lighthouse-container-bg: rgb(29, 30, 32);
}

[color-mode=light] {
  color-scheme: light;
  --toggle-button-bg: var(--white);
  --toggle-button-color: var(--black);
  --cta2-bg: var(--yellow);
  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-bg-lighter: var(--white);
  --color-link: var(--color-fg);
  --color-highlight: var(--black);
  --lighthouse-green-fg: rgb(15, 123, 38);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(233, 249, 240);
  --lighthouse-orange-fg: rgb(184, 42, 22);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(255, 246, 237);
  --lighthouse-red-fg: rgb(193, 0, 19);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(255, 234, 235);
  --lighthouse-container-bg: #ffffff;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --global-transition-time: 0;
    --scroll-behaviour: auto;
  }
}
::selection {
  background: var(--color-highlight);
  color: var(--color-bg);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background: var(--yellow-pink-gradient);
  padding: 0.5rem;
}
@media screen and (min-width: 900px) {
  html {
    padding: 0.75rem;
  }
}

body {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1rem 2rem;
  border-radius: calc(var(--border-radius-base) * 2);
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

a:hover {
  cursor: pointer;
}

a:focus,
summary:focus {
  --box-shadow-bg: var(--color-bg);
  --box-shadow-highlight: var(--color-highlight);
  outline: transparent;
  outline-style: solid;
  /* 2nd value is 3x 1st */
  box-shadow: var(--box-shadow-bg) 0 0 0 0.08rem, var(--box-shadow-highlight) 0 0 0 0.24rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
  border-radius: var(--border-radius-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.grid {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 2rem 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: stretch;
}

.grid__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.header__content {
  display: flex;
  flex-direction: column;
  max-width: var(--grid-max-width);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

[data-type=post] .header__content,
[data-type=talk] .header__content {
  max-width: var(--post-max-width);
}

.header__skipToMainContent {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  display: flex;
  justify-content: center;
  color: var(--color-highlight);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  left: 1rem;
  background-color: var(--color-bg);
}
.header__skipToMainContent:focus {
  top: 1rem;
}

.header__skipToMainContent:focus {
  color: var(--color-highlight);
}

.header__logoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__logoContainerLink {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}
.header__logoContainerLink .header__logoContainerLinkPanther {
  height: 100%;
  width: auto;
}
.header__logoContainerLink .header__logoContainerLinkName {
  height: 50%;
  width: auto;
  color: var(--color-logo);
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.25rem;
  margin-top: 1rem;
}

@media screen and (min-width: 48em) {
  .header__navList {
    margin-top: 0;
    justify-content: flex-end;
  }
  .header__logoContainerLink {
    align-self: flex-start;
  }
  .header__content {
    margin-bottom: 6rem;
    flex-direction: row;
  }
}
.header__navListItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  background: var(--color-bg);
}

.header__referer {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  display: grid;
  place-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background: var(--grey-dark);
  border-radius: calc(var(--border-radius-base) * 6);
  margin: 1rem auto 2rem auto;
  color: var(--white);
  max-width: 100%;
  width: max-content;
  text-align: center;
  line-height: 1.4;
  filter: var(--base-shadow-filter);
}
.header__referer a {
  display: block;
  line-height: inherit;
  text-align: center;
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header__themeToggle.header__themeToggle--light {
  background-image: url("/img/theme-light.svg");
}
.header__themeToggle:focus {
  outline: transparent;
  outline-style: solid;
  box-shadow: var(--pink) 0 0 0 0.175rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

.footer {
  max-width: var(--grid-max-width);
  margin: 4rem auto;
}
.footer:before {
  content: "";
  width: 100%;
  height: 0.125rem;
  margin-top: 1rem;
  display: block;
  background: var(--yellow-red-gradient);
}

.footer__copyright {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
  text-align: left;
}

.footer__text {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  color: var(--color-fg);
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.footer__links {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media screen and (min-width: 48em) {
  .footer__links {
    flex-direction: row;
  }
}

.footer__link {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  line-height: 1.4;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.home {
  list-style: none;
  padding-left: 0;
  display: block;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 1rem 4rem;
  height: 100%;
}
@media screen and (min-width: 48em) {
  .home {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

.home__sticky {
  height: 100%;
}

.home__item {
  display: flex;
  flex-direction: column;
}

.home__itemTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-decoration: none;
  color: var(--color-fg);
  font-size: clamp(1.2rem, 2vw, 2rem);
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(-10deg) scale(1.2);
  }
  40% {
    transform: rotate(12deg) scale(1.3);
  }
  60% {
    transform: rotate(-14deg) scale(1.3);
  }
  80% {
    transform: rotate(11deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
.homeAbout {
  margin-bottom: 4rem;
}
@media screen and (min-width: 48em) {
  .homeAbout {
    position: sticky;
    top: 2rem;
    max-height: 100vh;
  }
}

.homeAbout__topRow {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.homeAbout__imageBio {
  width: 100%;
  filter: var(--base-shadow-filter);
}
.homeAbout__imageBio img {
  border-radius: calc(var(--border-radius-base) * 2);
}
@media (prefers-reduced-motion: no-preference) {
  .homeAbout__imageBio img {
    animation: shake 0.75s forwards ease-in-out;
  }
  .homeAbout__imageBio:hover img {
    animation: shake 0.75s infinite ease-in-out;
  }
}

.homeAbout__name {
  font-size: clamp(2rem, 3.8vw, 3.8rem);
}
.homeAbout__name span {
  display: block;
}

.homeAbout__subtitle {
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-fg);
  display: block;
}

.homeAbout_minibio {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 40ch;
}
.homeAbout_minibio a {
  color: var(--color-highlight);
  text-decoration: none;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
}

.homeAbout__seeAllCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}

.blog__item:first-of-type .postCard,
.blog__item:first-of-type .postCard__topicsGroup, .blog__item:only-of-type .postCard,
.blog__item:only-of-type .postCard__topicsGroup {
  opacity: 1;
  background-color: var(--cta2-bg);
}
@media screen and (min-width: 48em) {
  .blog__item:first-of-type, .blog__item:only-of-type {
    grid-row: 1/span 2;
  }
  .blog__item:first-of-type .postCard__imageWrap, .blog__item:only-of-type .postCard__imageWrap {
    aspect-ratio: 1/1;
  }
}

.blog__item--ais {
  max-width: 33%;
}

.blog__item mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.blog__searchAndFilters {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 72em) {
  .blog__searchAndFilters {
    justify-content: space-between;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.blog__filterLabel {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.about__socialLinks {
  max-width: var(--grid-max-width);
  margin: 2rem auto;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.about__socialLinksItem {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  gap: 0.5rem;
}

.about__me {
  display: block;
}
@media screen and (min-width: 48em) {
  .about__me {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
  }
}

.about__meFace {
  overflow: hidden;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: calc(var(--border-radius-base) * 2);
  filter: var(--base-shadow-filter);
}

.about__meFace img {
  border-radius: calc(var(--border-radius-base) * 2);
}

.about__eventsHeader {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}
.about__eventsHeader:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.about__eventsHeaderTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
}

.about__eventsList {
  padding-left: 0;
  list-style: none;
}

.about__eventsListItem {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem 2rem;
  grid-template-areas: "date time" "date name" "date desc" "date cta";
  margin-bottom: 4rem;
}
@media screen and (min-width: 48em) {
  .about__eventsListItem {
    margin-bottom: 3rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas: "date time cta" "date name cta" "date desc cta";
  }
}

.about__eventsListItemDate {
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about__eventsListItemDate__month {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-align: center;
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.about__eventsListItemDate__day {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  display: block;
  text-align: center;
  color: var(--color-fg);
  text-transform: uppercase;
  font-size: 2.8rem;
}

.about__eventsListItemTime {
  grid-area: time;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: 1fr;
}
.about__eventsListItemTime svg {
  color: var(--color-highlight);
}
@media screen and (min-width: 48em) {
  .about__eventsListItemTime {
    display: flex;
    flex-direction: row;
  }
}

.about__eventsListItemTimeInner {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.about__eventsListItemTZ {
  display: flex;
  flex-direction: column;
}

.about__eventsListshortDescription {
  grid-area: desc;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.2;
  max-width: 49ch;
}

.about__eventsListItemName {
  grid-area: name;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: clamp(1.2rem, 1.6vw, 1.6rem);
  line-height: 1.2;
  color: var(--color-fg);
}

.about__eventsListItemCta {
  grid-area: cta;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  gap: 0.5rem;
  flex-grow: 0;
  align-self: center;
  width: max-content;
}

.about__eventsListItemCta--sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.about__eventsListItemCancelled {
  background: var(--yellow);
  color: var(--black);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  width: max-content;
}

.topics {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.topics__listItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  border: 0.25rem solid transparent;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.topics__listItemLink--selected {
  border-color: var(--color-highlight);
}

.topics__listItemImg {
  display: flex;
}

.topics__listItemName {
  display: flex;
}

.page__index {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.page__header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}
.page__header:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.page__headerTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
}

.page__intro {
  background-color: var(--cta2-bg);
  border-radius: var(--border-radius-base);
  padding: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 2rem;
}

.page__introTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 1rem;
}

.page__introText {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: clamp(1.4rem, 2vw, 2rem);
  line-height: 1.4;
}

.post {
  max-width: var(--post-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .post {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 3rem;
  }
}
.post__article {
  display: flex;
  flex-direction: column;
}

.post__aside {
  flex-direction: column;
  display: none;
}

.post__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.post__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .post__aside {
    display: flex;
  }
  .post__inlineAside {
    display: none;
  }
}
.post__body {
  margin-bottom: 2rem;
}

.post__hr {
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.post__hr:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.post__h1 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 2rem;
  font-size: clamp(2.2rem, 3vw, 3rem);
  line-height: 1.2;
  color: var(--color-fg);
}
.post__h1:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.post__h2 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__h3 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  line-height: 1.4;
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-highlight);
}

a.post__linkedHeaderIcon {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}

.post__h4,
.post__h5,
.post__h6 {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
}

.post__p--bold {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.post__p--italic {
  font-style: italic;
}

.post__responsiveImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__codeBlock {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.post__blockquote {
  display: block;
  background-color: var(--color-fg);
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-base);
}

.post__blockquote p {
  color: var(--color-bg);
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: 37.5em) {
  .post__blockquote {
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }
}
.post__blockquote:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='44px' width='44px'%3E%3Cpath fill='%2382af3a' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z' /%3E%3C/svg%3E%0A");
}

.post__externalUrl,
.post__isSponsored {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 2rem;
  max-width: max-content;
  background-color: var(--color-highlight);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--color-bg) !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.post__isSponsoredIcon,
.post__externalUrlIcon {
  margin-right: 0.5rem;
  display: flex;
}

.post__related {
  margin-bottom: 2rem;
}

.post__relatedHeader {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}
.post__relatedHeader:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.post__relatedHeaderTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
}

.post__relatedGrid {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 2rem 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: stretch;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 48em) {
  .post__relatedGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.post__tweetEmbed {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post__tweetEmbed iframe {
  border-radius: 14px;
}

.post__responsiveImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: var(--border-radius-base);
}

.post__deployToNetlifyButton {
  margin: 2rem auto;
  display: block;
  width: max-content;
}

.post__callout {
  padding: 1rem;
  border-radius: var(--border-radius-base);
  background-color: var(--cta2-bg);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__calloutTitle {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__calloutContent {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-fg);
  word-break: break-word;
}

.post__calloutContent p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post__calloutContent blockquote {
  margin-inline-start: 1rem;
}

.post__calloutContent blockquote p {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
  line-height: 1.7;
}

.post__calloutContent blockquote:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='44px' width='44px'%3E%3Cpath fill='%2382af3a' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z' /%3E%3C/svg%3E%0A");
}

.post__outOfDate {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  line-height: 1.3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.pagination {
  margin: 4rem auto;
  max-width: var(--grid-max-width);
}

.pagination__description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pagination__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.pagination__listItem {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}
.pagination__listItem:first-of-type, .pagination__listItem:first-of-type a {
  justify-content: flex-start;
  text-align: left;
}
.pagination__listItem:last-of-type, .pagination__listItem:last-of-type a {
  justify-content: flex-end;
  text-align: right;
}
.pagination__listItem a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.pagination__listItem a:hover {
  color: var(--color-highlight);
  transition: color var(--global-transition-time) ease-in-out;
}

.pagination__listItem a:active {
  outline: none;
  box-shadow: unset;
}

.pagination__icon {
  color: var(--color-highlight);
}

.publishedDate {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.publishedDate__item {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media screen and (min-width: 48em) {
  .publishedDate__item {
    justify-content: flex-start;
  }
}

.publishedDate__icon {
  color: var(--color-highlight);
  display: flex;
}
@media screen and (min-width: 48em) {
  .publishedDate__icon {
    width: 1.5rem;
  }
}

.tableOfContents {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tableOfContents__list {
  list-style: none;
  padding: 0;
}

.tableOfContents__header {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-highlight);
  cursor: pointer;
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-fg);
  text-decoration: none;
  display: block;
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}

.tableOfContents__item--cat {
  text-transform: capitalize;
}

.blogSidebarTopics {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.blogSidebarTopics__item {
  margin-bottom: 0.75rem;
  display: block;
  max-width: max-content;
}

.blogSidebarTopics__itemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.blogSidebarAuthor {
  margin-bottom: 2rem;
  text-align: center;
}

.blogSidebarAuthor__cta {
  font-size: 1rem;
  margin-bottom: 2rem;
  display: block;
}

.blogSidebarAuthor__cta2 {
  display: block;
  text-align: left;
  background-color: var(--cta2-bg);
  border-radius: calc(var(--border-radius-base) * 2);
  padding: 0.5rem;
  filter: var(--base-shadow-filter);
}

.blogSidebarAuthor__cta2__text {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--color-fg);
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.blogSidebarAuthor__cta2__link {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--twitch-purple);
  color: #fff;
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  display: flex;
}

.blogSidebarAuthor__imgContainer {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: calc(var(--border-radius-base) * 2);
  max-width: 8rem;
  filter: var(--base-shadow-filter);
}
@media screen and (min-width: 48em) {
  .blogSidebarAuthor__imgContainer {
    overflow: hidden;
    height: 16rem;
    max-width: unset;
  }
}

.blogSidebarAuthor__imgContainer img {
  border-radius: var(--border-radius-base);
  width: 100%;
}

.postCard {
  --spacing: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: calc(var(--border-radius-base) * 1.5);
  transition: all 0.2s ease-in-out;
  position: relative;
  opacity: 0.8;
  max-width: 384px;
}
.postCard:hover, .postCard:focus, .postCard:active {
  background-color: var(--cta2-bg);
  opacity: 1;
}
.postCard:hover .postCard__topicsGroup, .postCard:focus .postCard__topicsGroup, .postCard:active .postCard__topicsGroup {
  background-color: var(--cta2-bg);
}

.postCard__topicsGroup {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem 1rem 0.75rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--black);
  border-radius: 0 calc(var(--border-radius-base) * 1.5) 0 calc(var(--border-radius-base) * 1.5);
  padding: 0.5rem;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.postCard__topicsGroup li {
  display: flex;
}

.postCard__meta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  padding-top: calc(var(--spacing) * 1);
  color: var(--color-fg);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.postCard__metaIcon {
  color: var(--color-fg);
  display: flex;
}

.postCard__metaText {
  display: flex;
  margin-right: 1rem;
}

.postCard__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.5rem;
  line-height: 1.2;
  flex-grow: 1;
}

.postCard__titleLink--ais {
  display: block;
}

.postCard__imageWrap {
  background: var(--yellow-red-gradient);
  border-radius: calc(var(--border-radius-base) / 2);
  aspect-ratio: 3/1;
  margin-bottom: calc(var(--spacing) * 0.25);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postCard__image {
  object-fit: cover;
}

.topicsButton {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: calc(var(--spacing, 1rem) * 2);
  margin-bottom: calc(var(--spacing, 1rem) * 2);
}

.topicsButton__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.topicsButton__list li {
  display: flex;
  gap: 0.5rem;
}

.homeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.homeCard__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-fg);
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.homeCard__linkForTitle {
  text-decoration: none;
  margin-bottom: 0;
}
.homeCard__linkForTitle .homeCard__title {
  margin-bottom: 0;
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.homeCard__excerpt p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: block;
  margin-top: 1rem;
}

.homeCard__button {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.homeCard__button * {
  display: flex;
}

.homeCard__ctaRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homeCard__ctaRow .topicsButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 72em) {
  .homeCard__ctaRow {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.homeCard__seeAllCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}

.homeCard__meta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  padding-top: calc(var(--spacing) * 1);
  color: var(--color-fg);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
}

.homeCard__metaIcon {
  color: var(--color-fg);
  display: flex;
}

.homeCard__metaText {
  display: flex;
  margin-right: 1rem;
}

.speakerDeckLink__viewCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.videoEmbed__cta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-highlight);
}

.eleventy-plugin-youtube-embed {
  margin-bottom: 2rem;
  margin-top: 2rem;
  filter: var(--base-shadow-filter);
  border-radius: calc(var(--border-radius-base) * 2);
  overflow: hidden;
}

.videoEmbed__ytShort .eleventy-plugin-youtube-embed lite-youtube {
  aspect-ratio: 9/16;
  position: relative;
  width: 100%;
  height: auto;
}

.videoEmbed__tiktok {
  max-width: 542px;
  min-height: 574px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--yellow);
  z-index: 0;
  position: relative;
  border-radius: var(--border-radius-base);
}
@media screen and (min-width: 48rem) {
  .videoEmbed__tiktok {
    min-height: 728px;
  }
}

.videoEmbed__tiktokOverlay {
  background-color: var(--grey-dark);
  position: absolute;
  z-index: 1;
  display: block;
  opacity: 1;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius-base);
  transition: all 1s ease-in-out;
  pointer-events: none;
}

.codePenEmbed__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-highlight);
}

.codePenEmbed__container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.seeAllCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 1rem 0;
  word-break: break-word;
  display: block;
}

.uses__sectionHeader {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
  width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.uses__sectionHeader:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.uses__sectionHeaderTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
  text-transform: capitalize;
}

.uses__intro {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--color-fg);
}

.uses__list {
  list-style: none;
  padding-left: 0;
}

.uses__listItem {
  margin-bottom: 2rem;
}
@media screen and (min-width: 600px) {
  .uses__listItem {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
  }
}

.uses__listItemName {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

@media screen and (min-width: 600px) {
  .uses__listItemName--small {
    display: none;
  }
}

.uses__listItemName--large {
  display: none;
}
@media screen and (min-width: 600px) {
  .uses__listItemName--large {
    display: block;
  }
}

.uses__listItemImg {
  max-width: 10rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-base);
  filter: var(--base-shadow-filter);
}
@media screen and (min-width: 600px) {
  .uses__listItemImg {
    margin-top: 0;
  }
}

.uses__listItemDesc p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
}

.uses__listItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 0.5rem 0;
  display: block;
}

.uses__listItemLink--sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.twoColumn__header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}
.twoColumn__header:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.twoColumn__headerTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
}

.twoColumn {
  max-width: var(--grid-max-width);
  margin: auto;
}

@media screen and (min-width: 48em) {
  .twoColumn {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 3rem;
  }
}
.twoColumn__aside {
  flex-direction: column;
  display: none;
}

.twoColumn__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
  margin-left: -1rem;
  padding-left: 1rem;
}

.twoColumn__content {
  display: flex;
  flex-direction: column;
}

.twoColumn__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .twoColumn__aside {
    display: flex;
  }
  .twoColumn__inlineAside {
    display: none;
  }
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bio__buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  z-index: 3;
  margin-bottom: 2rem;
}

.bio__button {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
}
.bio__button:focus {
  outline: transparent;
  outline-style: solid;
  box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-highlight) 0 0 0 0.375rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

.bio__button--selected {
  box-shadow: var(--color-bg) 0 0 0 0.125rem, var(--color-highlight) 0 0 0 0.375rem;
}

.bio__block {
  display: none;
}
.bio__block h2 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-highlight);
}
.bio__block h3 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-fg);
}
.bio__block p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.bio__block--show {
  display: block;
}

.lighthouse {
  margin: 2rem auto;
  max-width: 520px;
  padding: 1rem;
  text-align: left;
  border-radius: var(--border-radius-base);
  background-color: var(--lighthouse-container-bg);
  filter: var(--base-shadow-filter);
}

.lighthouse__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.lighthouse__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.lighthouse__subTitle {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  word-wrap: break-all;
  display: block;
}

.lighthouse__scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.lighthouse__col {
  display: flex;
  flex-direction: column;
}

.lighthouse__scoresNo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.lighthouse__scoresNo--red {
  background-color: var(--lighthouse-red-bg);
  color: var(--lighthouse-red-fg);
}
.lighthouse__scoresNo--red .lighthouse__circle {
  stroke: var(--lighthouse-red-stroke);
}
.lighthouse__scoresNo--orange {
  background-color: var(--lighthouse-orange-bg);
  color: var(--lighthouse-orange-fg);
}
.lighthouse__scoresNo--orange .lighthouse__circle {
  stroke: var(--lighthouse-orange-stroke);
}
.lighthouse__scoresNo--green {
  background-color: var(--lighthouse-green-bg);
  color: var(--lighthouse-green-fg);
}
.lighthouse__scoresNo--green .lighthouse__circle {
  stroke: var(--lighthouse-green-stroke);
}

.lighthouse__type {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
}

.lighthouse__circle {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  position: absolute;
  transform: rotate(-90deg);
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
}

.fourohfour__header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
}
.fourohfour__header:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.fourohfour__headerTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
}

.fourohfour__content {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.fourohfour__text {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-fg);
}

.fourohfour__img {
  height: 10rem;
  transform: rotate(-15deg);
}

.ais {
  margin-bottom: 1rem;
}

.ais__searchbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-areas: "label label" "input button";
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

.ais__hits--empty {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.ais__howAbout {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-highlight);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.ais__form {
  display: block;
}

.ais__label {
  grid-area: label;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.ais__input {
  grid-area: input;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--grey-dark);
  color: var(--color-fg);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.ais__input:focus {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  border-radius: 0;
  box-shadow: inset var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

.ais__input::placeholder {
  color: #bbb;
}

.ais__reset {
  grid-area: button;
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-button);
  color: var(--color-button);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  border-color: transparent;
  cursor: pointer;
  display: inline;
  border-radius: 0;
  padding: 0.6rem 1rem;
  border: 0.125rem solid var(--grey-dark);
  width: max-content;
}

.ais__reset:focus {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  border-radius: 0;
  box-shadow: inset var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by https://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #ffffff;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1rem;
  margin: 0.5rem 0;
  overflow: auto;
  border-radius: 0.3rem;
}

/* MY FIXES: https://whitep4nth3r.com/blog/how-to-make-your-code-blocks-accessible-on-your-website */
code[class*=language-] {
  white-space: pre-wrap;
  word-break: break-all;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: var(--grey-dark);
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #adb8c2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc92b6;
}

.token.boolean,
.token.number {
  color: #c9b0f6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #f3a344;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  background-color: rgba(255, 0, 0, 0.2);
}

.token.inserted {
  background-color: rgba(0, 255, 128, 0.1);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
}

.links__html {
  display: grid;
  place-items: center;
  height: 100vmin;
}

.links__body {
  padding: 2rem;
  max-width: 400px;
  text-align: center;
  border-radius: calc(var(--border-radius-base) * 4);
  filter: var(--base-shadow-filter);
  margin-bottom: 2rem;
}

.links__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  margin-bottom: 0.75rem;
}

.links__subtitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.links__image {
  border-radius: 100%;
  filter: var(--base-shadow-filter);
  margin-bottom: 2rem;
}

.links__list {
  padding-inline-start: 0;
  list-style: none;
}

.links__listItem {
  list-style: none;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.links__listItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
  border-radius: 0.75rem;
  background-color: var(--grey-dark);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.links__listItemLink:focus {
  --box-shadow-bg: var(--white);
  --box-shadow-highlight: var(--black);
  border-radius: calc(var(--border-radius-base) * 4);
}

.activityFeed {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--feed-max-width);
}

.activityFeed__header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  max-width: max-content;
  padding: 0 1rem;
}
.activityFeed__header:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.activityFeed__item {
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  border-radius: 0.75rem;
}
.activityFeed__item:hover, .activityFeed__item:focus, .activityFeed__item:active {
  background-color: var(--cta2-bg);
  filter: var(--base-shadow-filter);
}
.activityFeed__item .post__tweetEmbed,
.activityFeed__item .twitter-tweet,
.activityFeed__item .eleventy-plugin-youtube-embed {
  margin-bottom: 0 !important;
}

.activityFeed__item--forceActive {
  background-color: var(--cta2-bg);
  filter: var(--base-shadow-filter);
}

.activityFeed__type {
  --feed-badge-bg: var(--yellow);
  --feed-badge-fg: var(--black);
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--feed-badge-bg);
  color: var(--feed-badge-fg);
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  border-radius: calc(var(--border-radius-base) * 2.5);
}

.activityFeed__meta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-fg);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.activityFeed__metaDate {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
}

.activity__metaIcon {
  color: var(--color-fg);
}

.activityFeed__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02em;
}

.activityFeed__link {
  display: block;
  text-decoration: none;
}

.activityFeed__description--withImage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.activityFeed__description p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  line-height: 1.6;
}
.activityFeed__description p:not(:first-of-type) {
  margin-top: 1rem;
}

.activityFeed__description__image {
  border-radius: calc(var(--border-radius-base) * 2);
  filter: var(--base-shadow-filter);
  margin-top: 1rem;
}

.twitchInfo {
  --twitch-purple: #9146ff;
  margin-bottom: 2rem;
  display: block;
}

.twitchInfo__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-decoration: none;
  color: var(--color-fg);
  font-size: clamp(1.2rem, 2vw, 2rem);
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.twitchInfo__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twitchInfo__link::after {
  content: "";
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background-color: var(--twitch-purple);
  border-radius: 100%;
  border: 0.25rem solid var(--twitch-purple);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M512 256c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z' fill='%23ffffff'/%3E%3C/svg%3E");
  position: absolute;
  height: 4rem;
  width: 4rem;
}

.twitchInfo__thumbnail {
  aspect-ratio: 16/9;
  border-radius: 1rem;
  border: 0.25rem solid var(--twitch-purple);
  background-color: var(--twitch-purple);
  filter: var(--base-shadow-filter);
  z-index: 0;
  position: relative;
  width: 100%;
}

.twitchInfo__streamTitle {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  bottom: 0.5rem;
  left: 0.5rem;
  position: absolute;
  z-index: 1;
  background-color: var(--twitch-purple);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  filter: var(--base-shadow-filter);
  max-width: 80%;
}

.twitchInfo__live {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.25rem 0.5rem;
  position: absolute;
  z-index: 1;
  background-color: var(--pink);
  border: 0.125rem solid var(--yellow);
  color: #fff;
  border-radius: 0.5rem;
  filter: var(--base-shadow-filter);
}
.twitchInfo__live svg {
  height: 1.25rem;
  width: 1.25rem;
}

/* START TEMP */
main {
  margin: auto;
}

.colorHighlight {
  color: var(--color-highlight);
}

/* END TEMP */

/*# sourceMappingURL=main.css.map */
