@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Gilda+Display&family=Space+Grotesk:wght@300..700&display=swap");
@media (prefers-reduced-motion: reduce) {
  :root {
    --global-transition-time: 0;
    --scroll-behaviour: auto;
  }
}
:root {
  --pink: #f0047f;
  --pink-light: #f890c6;
  --green: #c3eb78;
  --black: #000000;
  --black-alt: #1f1823;
  --grey-dark: #2b2e3a;
  --grey-mid: #475467;
  --white: #ffffff;
  --orange: #fc814a;
  --body-horizontal-padding-sm: 1rem;
  --body-horizontal-padding-lg: 2.5rem;
  --font-family-main: "Space Grotesk", sans-serif;
  --font-family-heading: "Anton", sans-serif;
  --font-family-serif: "Gilda Display", serif;
  --font-weight-bold: 700;
  --font-weight-mid: 700;
  --font-weight-main: 400;
  --border-radius-base: 0;
  --global-max-width: 1440px;
  --feed-max-width: 510px;
  --post-max-width: 1064px;
  --base-shadow-filter: drop-shadow(0px 0.125rem 0.125rem rgba(0, 0, 0, 0.25));
  --global-transition-time: 0.21s;
  --scroll-behaviour: smooth;
  --form-height: 48px;
}

[color-mode=dark] {
  color-scheme: dark;
  --page-bg: var(--black);
  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-link: var(--pink);
}

[color-mode=light] {
  color-scheme: light;
  --page-bg: var(--white);
  --color-bg: var(--white);
  --color-fg: var(--black);
  --color-link: var(--pink);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
  scroll-behavior: var(--scroll-behaviour);
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-wrap: balance;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 0.25rem;
}

strong {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
}

:target {
  scroll-margin-block-start: 7rem;
}

/* END RESET */
body {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-fg);
  position: relative;
  background: var(--page-bg);
}

main {
  margin: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.page__header {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2.5rem, 6vw, 4rem);
  line-height: 1;
  margin-bottom: 2rem;
  text-align: right;
  text-transform: uppercase;
  padding: 1rem;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  justify-self: center;
  width: 100%;
  padding: 1rem var(--body-horizontal-padding-sm);
}

.header__navGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-self: flex-start;
  width: max-content;
}

.header__skipToMainContent {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  display: flex;
  justify-content: center;
  color: var(--color-bg);
  text-decoration: none;
  font-size: 1rem;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: -100px;
  transform: translateX(-50%);
  left: 50%;
  background-color: var(--color-fg);
  z-index: 15;
  position: absolute;
}
.header__skipToMainContent:focus-visible, .header__skipToMainContent:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}
.header__skipToMainContent:focus {
  top: 1rem;
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__navList {
    gap: 1rem;
  }
}

.header__navListItemLink {
  font-family: var(--font-family-heading);
  font-weight: 400;
  color: var(--color-fg);
  padding: 1rem 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  position: relative;
  font-size: clamp(1.5rem, 2vw, 2rem);
  line-height: 1;
}
.header__navListItemLink:focus-visible, .header__navListItemLink:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

[data-active=home] [data-link=home],
[data-active=blog] [data-link=blog],
[data-active=about] [data-link=about] {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 0.5rem;
  text-underline-offset: clamp(0.25rem, 0.5vw, 0.5rem);
  filter: url(#distort_from_footer);
  transform: rotate(-2deg);
  transform-origin: left top;
}

.header__themeToggle {
  padding: 0.5rem;
  border-color: transparent;
  background-image: url("/img/theme-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 2.75rem;
  width: 2.75rem;
  background-color: transparent;
  cursor: pointer;
  display: inline;
  position: relative;
}
.header__themeToggle.header__themeToggle--light {
  background-image: url("/img/theme-light.svg");
}
.header__themeToggle:focus-visible, .header__themeToggle:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

:root {
  --image-z-index: 5;
  --header-z-index: 10;
  --name-z-index: 30;
  --cloud-z-index: 25;
}

.hero {
  --gap: 1rem;
  --grid-tc: 1fr;
}
@media screen and (min-width: 1080px) {
  .hero {
    --gap: 3rem;
    --grid-tc: 1fr 1fr;
  }
}
.hero {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: var(--grid-tc);
}

.hero__cloud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  position: absolute;
  z-index: var(--cloud-z-index);
}
@media screen and (min-width: 1080px) {
  .hero__cloud {
    position: relative;
    justify-content: flex-start;
    padding: clamp(0.5rem, 2vw, 2rem);
  }
}
.hero__cloud h2 {
  background: var(--color-bg);
  padding: clamp(0.25rem, 2vw, 1rem);
}

.hero__cloud__wd {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1;
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 1rem;
}
.hero__cloud__wd svg {
  height: clamp(2rem, 4vw, 4rem);
  width: clamp(2rem, 4vw, 4rem);
}

.hero__cloud__is {
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-style: italic;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1;
  display: flex;
  align-self: flex-start;
}

.hero__cloud__te {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 5vw, 5rem);
  display: flex;
  align-self: center;
  text-decoration: underline;
  text-underline-offset: clamp(0.5rem, 1vw, 1rem);
  text-decoration-thickness: clamp(0.25rem, 0.75vw, 0.75rem);
}

.hero__cloud__e {
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-size: clamp(3rem, 6vw, 6rem);
  line-height: 1;
  display: flex;
  align-self: flex-end;
}

.hero__cloud__han {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1;
  display: block;
  align-self: flex-start;
}
.hero__cloud__han span {
  display: inline-block;
  filter: url(#distort_from_footer);
  transform: rotate(-5deg);
}

.hero__cloud__ms {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2rem, 3vw, 3rem);
  line-height: 1;
  display: block;
  align-self: center;
}
.hero__cloud__ms span {
  font-family: var(--font-family-serif);
  font-weight: 700;
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: overline;
  text-decoration-thickness: clamp(0.25rem, 0.5vw, 0.5rem);
}

.hero__image {
  height: 100%;
  width: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100px;
  left: 0;
  filter: contrast(200%);
}
@media screen and (min-width: 1080px) {
  .hero__image img {
    position: relative;
  }
}

.hero__name {
  font-family: var(--font-family-heading);
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-bg);
  background: var(--color-fg);
  position: absolute;
  z-index: var(--name-z-index);
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: calc(var(--gap) * 5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero__name__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
  font-size: clamp(1.5rem, 12vw, 12rem);
  gap: var(--gap);
}
.hero__name__inner span {
  display: flex;
}

.hero__name__separator svg {
  height: clamp(2rem, 4vw, 4rem);
  width: clamp(2rem, 4vw, 4rem);
}

.home__jobTitle {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 4rem);
  color: var(--color-fg);
  padding-left: clamp(0.5rem, 0.75vw, 1rem);
  padding-right: clamp(0.5rem, 0.75vw, 1rem);
}
.home__jobTitle a:focus-visible, .home__jobTitle a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.home__latest {
  background: var(--color-bg);
  width: 100%;
  margin-top: 2rem;
}

.home__latestHeader {
  display: inline-block;
  padding: 1rem;
  font-family: var(--font-family-heading);
  font-weight: 400;
  color: var(--color-bg);
  background: var(--color-fg);
  font-size: clamp(1.5rem, 4vw, 4rem);
  line-height: 1.2;
  text-transform: uppercase;
  z-index: var(--header-z-index);
  position: relative;
}

.home__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;
}
.home__cards li {
  display: flex;
}
.home__cards {
  background: var(--color-bg);
  margin-bottom: 2rem;
}

.blog {
  display: block;
}

.blog__cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;
}
.blog__cardsGrid li {
  display: flex;
}

.blog__item mark {
  color: var(--color-bg);
  background-color: var(--color-fg);
}

.about__name {
  z-index: 10;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.about__fixed * {
  height: calc(100% - 6.5rem);
  object-fit: cover;
  border-radius: var(--border-radius-base);
}

.about__details {
  margin: unset;
}

[color-mode=dark] {
  --post-hr-color: var(--pink);
  --table-th-color: var(--color-fg);
  --post-meta-fg-color: var(--color-bg);
}

[color-mode=light] {
  --post-hr-color: var(--pink);
  --table-th-color: var(--white);
  --post-meta-fg-color: var(--color-fg);
}

.post {
  position: relative;
  margin-top: 4rem;
  gap: 3rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media screen and (min-width: 1080px) {
  .post {
    gap: 3rem;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "bsky title title author" "bsky aside content author" "related related related related";
    grid-template-columns: 1fr 2fr 6fr 2fr;
  }
}

.post__header {
  grid-area: title;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  margin-bottom: 4rem;
}

.post__h1 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(3rem, 8vw, 8rem);
  line-height: 1;
  color: var(--color-fg);
  text-wrap: balance;
}

.post__byline {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
}
@media screen and (min-width: 1080px) {
  .post__byline {
    flex-direction: row;
    justify-content: space-between;
  }
}

.post__meta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.post__meta__topic {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--pink);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
  width: max-content;
}

.post__excerpt p {
  font-family: var(--font-family-serif);
  font-weight: 700;
  font-style: italic;
  font-size: clamp(1.25rem, 3vw, 3rem);
  line-height: 1.2;
  color: var(--color-fg);
}

.post__separator {
  margin-bottom: 2rem;
  border-color: var(--post-hr-color);
  border-style: solid;
}

.post__article {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.post__aside {
  grid-area: aside;
}
@media screen and (min-width: 1080px) {
  .post__aside {
    align-self: start;
    position: sticky;
    z-index: 10;
    top: 0;
  }
}

.post__author {
  grid-area: author;
}
@media screen and (min-width: 1080px) {
  .post__author {
    align-self: start;
    position: sticky;
    z-index: 10;
    top: 0;
  }
}

.post__body {
  margin-bottom: 2rem;
}

.post__hr {
  border-color: var(--color-fg);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__h2 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2rem, 4vw, 4rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 2rem;
  word-break: break-word;
  hyphens: auto;
  color: var(--color-fg);
}

.post__h3 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.4;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-fg);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeading {
  display: block;
  text-decoration: none;
  color: var(--color-fg);
  position: relative;
}
.post__linkedHeading:focus-visible, .post__linkedHeading:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.post__h4,
.post__h5,
.post__h6 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
  line-height: 1.85;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
}
.post__p a:focus-visible, .post__p a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.post__p--bold {
  font-family: var(--font-family-bold);
  font-weight: var(--font-weight-bold);
}

.post__p--italic {
  font-style: italic;
}

.post__responsiveImage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__codeBlock {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.post__codeBlockBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: var(--grey-dark);
  border-radius: calc(var(--border-radius-base) * 2) calc(var(--border-radius-base) * 2) 0 0;
  padding: 0.5rem 1rem;
  position: relative;
}

.post__codeBlockCopyButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  border-radius: 0 var(--border-radius-base) 0 0;
  background: var(--white);
}
.post__codeBlockCopyButton svg,
.post__codeBlockCopyButton span {
  pointer-events: none;
}

.post__codeBlockCopyButton:focus-visible:focus-visible, .post__codeBlockCopyButton:focus-visible:focus,
.post__codeBlockCopyButton:active:focus-visible,
.post__codeBlockCopyButton:active:focus,
.post__codeBlockCopyButton:focus:focus-visible,
.post__codeBlockCopyButton:focus:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.post__blockquote {
  display: block;
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  padding: 1rem 1.5rem;
  border-left: 0.25rem solid var(--green);
}

.post__blockquote p {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-fg);
}

.post__blockquote:before {
  content: '"';
  font-style: italic;
  color: var(--green);
  font-size: 8rem;
  line-height: 0;
  position: relative;
  top: 2rem;
}

.post__externalUrl,
.post__isSponsored {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  margin-bottom: 2rem;
  max-width: max-content;
  color: var(--color-fg);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.post__isSponsoredIcon,
.post__externalUrlIcon {
  margin-right: 0.5rem;
  display: flex;
}

.post__related {
  grid-area: related;
  margin-bottom: 2rem;
}

.post__relatedHeader {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  word-break: break-word;
  hyphens: auto;
  color: var(--color-fg);
}

.post__relatedHeaderTitle {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: right;
  padding: 1rem;
  text-transform: uppercase;
}

.post__relatedGrid {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 54em) {
  .post__relatedGrid {
    grid-template-columns: 1fr 1fr;
  }
}

.post__responsiveImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: calc(var(--border-radius-base) * 2);
}

.post__deployToNetlifyButton {
  margin: 2rem auto;
  display: block;
  width: max-content;
}

.post__callout {
  padding: 1rem;
  border-radius: 0.75rem;
  border: 0.25rem solid var(--post-hr-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__calloutTitle {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.post__calloutContent {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--color-fg);
  word-break: break-word;
}

.post__calloutContent p:not(:last-of-type) {
  margin-bottom: 1rem;
}

.post__calloutContent blockquote {
  margin-inline-start: 1rem;
}

.post__calloutContent blockquote p {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  margin-bottom: 1.75rem;
  font-size: 1.4rem;
  line-height: 1.7;
}

.post__calloutContent blockquote:before {
  content: '"';
  font-style: italic;
  color: var(--orange);
  font-size: 10rem;
  line-height: 0;
  position: relative;
  top: 4rem;
}

.post__outOfDate {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  line-height: 1.3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.post__referer {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  display: block;
  max-width: var(--post-max-width);
  font-size: 1rem;
  margin: 1rem auto 2rem auto;
  color: var(--color-fg);
  line-height: 1.4;
  font-style: italic;
}
.post__referer a {
  display: inline-block;
  line-height: inherit;
  position: relative;
}
.post__referer a:focus-visible, .post__referer a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.post__arcadeEmbed {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.post__tableWrapper {
  overflow-x: auto;
}

.post__table {
  --cell-padding: clamp(0.5rem, 0.75vw, 0.75rem);
  border-collapse: collapse;
  word-break: normal;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.post__tableHeader {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  text-align: left;
  border: 1px solid var(--color-fg);
  padding: var(--cell-padding);
  background: var(--grey-mid);
  color: var(--table-th-color);
}

.post__tableCell {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  word-wrap: break-word;
  padding: var(--cell-padding);
  border: 1px solid var(--color-fg);
  vertical-align: top;
}

.post__likes {
  grid-area: bsky;
}

.post__likesTitle {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.2;
  color: var(--color-fg);
  background: var(--color-bg);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
}
.post__likesTitle svg {
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  color: var(--pink);
}
.post__likesTitle:focus-visible, .post__likesTitle:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}
.post__likesTitle {
  text-decoration: none;
}
.post__likesTitle:hover svg, .post__likesTitle:focus svg {
  transform: scale(1.2) rotate(15deg);
  filter: url(#distort_from_footer);
}

.post__likesList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__like {
  aspect-ratio: 1/1;
  display: flex;
  flex: 1 1 5rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: contrast(150%);
}
.post__like::before {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  content: "";
  position: absolute;
  transform: rotate(20deg);
  background: radial-gradient(circle at center, #000, #fff);
  background-size: 0.15em 0.15em;
}
.post__like * {
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.post__like__avatar {
  filter: grayscale(1) brightness(90%) contrast(150%);
  width: auto;
  height: 100%;
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}
.post__like__avatar:hover {
  filter: unset;
}

.post__like--placeholder,
.post__like--howManyMore {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1rem;
  background-color: var(--pink);
  color: #fff;
  filter: unset;
  flex: 0 1 4rem;
}
.post__like--placeholder::before,
.post__like--howManyMore::before {
  content: unset;
}

.pagination {
  margin: 4rem auto;
}

.pagination__description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pagination__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 1rem;
}

.pagination__listItem {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2rem, 4vw, 3rem);
  text-transform: uppercase;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
}
.pagination__listItem:first-of-type, .pagination__listItem:first-of-type a {
  justify-content: flex-start;
  text-align: left;
}
.pagination__listItem:last-of-type, .pagination__listItem:last-of-type a {
  justify-content: flex-end;
  text-align: right;
}
.pagination__listItem a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}
.pagination__listItem a:focus:focus-visible, .pagination__listItem a:focus:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.publishedDate {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.publishedDate__item {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-fg);
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-grow: 0;
  align-self: flex-start;
}

.tableOfContents {
  margin-bottom: 2rem;
}

.tableOfContents__list {
  list-style: none;
  padding: 0;
}

[color-mode=dark] {
  --table-of-contents-header-color: var(--green);
}

[color-mode=light] {
  --table-of-contents-header-color: var(--pink);
}

.tableOfContents__header {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--table-of-contents-header-color);
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 2vw, 2rem);
  cursor: pointer;
}
.tableOfContents__header:focus-visible, .tableOfContents__header:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--color-fg-copy);
  text-decoration: none;
  display: block;
}
.tableOfContents__itemLink:focus-visible, .tableOfContents__itemLink:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}

.tableOfContents__item--cat {
  text-transform: capitalize;
}

.author {
  --gap: 5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--gap);
}

.author--hideSmall {
  display: none;
}
@media screen and (min-width: 56em) {
  .author--hideSmall {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.author__cta {
  display: block;
  position: relative;
  flex-grow: 1;
}
.author__cta:focus-visible, .author__cta:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}
.author__cta {
  text-decoration: none;
}
.author__cta:focus-visible .author__imgContainer, .author__cta:hover .author__imgContainer {
  transform: scale(0.95);
}

.author__imgContainer {
  filter: var(--base-shadow-filter);
  transition: transform var(--global-transition-time) ease-in-out;
  height: 100%;
}
.author__imgContainer * {
  border-radius: var(--border-radius-base);
  height: 100%;
  object-fit: cover;
}

.author__name {
  display: block;
  position: relative;
  height: 0;
  bottom: var(--gap);
}

.speakerDeckLink__viewCta {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.videoEmbed {
  text-align: center;
}

.videoEmbed__iframe {
  margin-bottom: 1rem;
  margin-top: 2rem;
  filter: var(--base-shadow-filter);
  border-radius: calc(var(--border-radius-base) * 2);
  overflow: hidden;
}

.videoEmbed__ytShort .videoEmbed__iframe lite-youtube {
  aspect-ratio: 9/16;
  position: relative;
  width: 100%;
  height: auto;
}

.codePenEmbed__container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.uses {
  max-width: var(--global-max-width);
  margin: auto;
}

.uses_catHeading {
  position: relative;
  top: 2.5rem;
  z-index: 9;
}

.uses__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;
}
.uses__list li {
  display: flex;
}

[color-mode=dark] {
  --bio-button-color: rgba(255, 255, 255, 0.6);
  --bio-button-bg: rgba(255, 255, 255, 0.1);
}

[color-mode=light] {
  --bio-button-color: var(--grey-mid);
  --bio-button-bg: rgba(52, 64, 84, 0.1);
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.bio__topRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1237px) {
  .bio__topRow {
    flex-direction: row;
  }
}

.bio__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  align-items: center;
  z-index: 3;
  order: 2;
}
@media screen and (min-width: 1237px) {
  .bio__buttons {
    order: 1;
  }
}

.bio__button {
  position: relative;
  border-width: 0;
  border-radius: var(--border-radius-base);
  color: var(--bio-button-color);
  background: var(--bio-button-bg);
  color: var(--color-fg);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.625rem 0.875rem;
  text-decoration: none;
}
.bio__button:focus-visible, .bio__button:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.bio__block {
  margin-bottom: 4rem;
  max-width: 42rem;
}
.bio__block h2 {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  font-size: 1.875rem;
  line-height: 1.375;
  margin-bottom: 1rem;
  color: var(--color-fg);
  scroll-margin-top: 10.5rem;
}
.bio__block h3 {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  font-size: 1.875rem;
  line-height: 1.375;
  margin-bottom: 1rem;
  color: var(--color-fg);
}
.bio__block p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg-copy);
}
.bio__block p a {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  color: var(--color-link);
}
.bio__block p a:focus-visible, .bio__block p a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

[color-mode=dark] {
  --lighthouse-green-fg: rgb(27, 195, 106);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(30, 46, 47);
  --lighthouse-orange-fg: rgb(251, 157, 70);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(52, 43, 34);
  --lighthouse-red-fg: rgb(250, 40, 52);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(52, 31, 32);
  --lighthouse-container-bg: rgb(29, 30, 32);
}

[color-mode=light] {
  --lighthouse-green-fg: rgb(15, 123, 38);
  --lighthouse-green-stroke: rgb(27, 195, 106);
  --lighthouse-green-bg: rgb(233, 249, 240);
  --lighthouse-orange-fg: rgb(184, 42, 22);
  --lighthouse-orange-stroke: rgb(251, 157, 70);
  --lighthouse-orange-bg: rgb(255, 246, 237);
  --lighthouse-red-fg: rgb(193, 0, 19);
  --lighthouse-red-stroke: rgb(250, 40, 52);
  --lighthouse-red-bg: rgb(255, 234, 235);
  --lighthouse-container-bg: #ffffff;
}

.lighthouse {
  margin: 2rem auto;
  max-width: 520px;
  padding: 1rem;
  text-align: left;
  border-radius: calc(var(--border-radius-base) * 2);
  background-color: var(--lighthouse-container-bg);
  filter: var(--base-shadow-filter);
}

.lighthouse__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.lighthouse__title {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.lighthouse__subTitle {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  word-wrap: break-all;
  display: block;
}

.lighthouse__scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.lighthouse__col {
  display: flex;
  flex-direction: column;
}

.lighthouse__scoresNo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-bottom: 1rem;
}
.lighthouse__scoresNo--red {
  background-color: var(--lighthouse-red-bg);
  color: var(--lighthouse-red-fg);
}
.lighthouse__scoresNo--red .lighthouse__circle {
  stroke: var(--lighthouse-red-stroke);
}
.lighthouse__scoresNo--orange {
  background-color: var(--lighthouse-orange-bg);
  color: var(--lighthouse-orange-fg);
}
.lighthouse__scoresNo--orange .lighthouse__circle {
  stroke: var(--lighthouse-orange-stroke);
}
.lighthouse__scoresNo--green {
  background-color: var(--lighthouse-green-bg);
  color: var(--lighthouse-green-fg);
}
.lighthouse__scoresNo--green .lighthouse__circle {
  stroke: var(--lighthouse-green-stroke);
}

.lighthouse__type {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.4;
}

.lighthouse__circle {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  position: absolute;
  transform: rotate(-90deg);
  fill: none;
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
}

.fourohfour__content {
  max-width: var(--post-max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fourohfour__logo {
  max-width: 100%;
}

.fourohfour__title {
  margin-top: 2rem;
  color: var(--color-body);
}

.fourohfour__text {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 4rem;
  color: var(--color-fg);
  display: block;
}

.fourohfour__img {
  box-shadow: 0px 1.5rem 2rem -1rem rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.48);
  border-radius: calc(var(--border-radius-base) * 2);
  width: 100%;
  margin: auto;
  display: block;
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by https://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #ffffff;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1rem;
  margin: 0;
  overflow: auto;
  border-radius: 0 0 calc(var(--border-radius-base) * 2) calc(var(--border-radius-base) * 2);
}

/* MY FIXES: https://whitep4nth3r.com/blog/how-to-make-your-code-blocks-accessible-on-your-website */
code[class*=language-] {
  white-space: pre-wrap;
  word-break: break-all;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: var(--grey-dark);
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #adb8c2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc92b6;
}

.token.boolean,
.token.number {
  color: #c9b0f6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #f3a344;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.deleted {
  background-color: rgba(255, 0, 0, 0.2);
}

.token.inserted {
  background-color: rgba(0, 255, 128, 0.1);
}

/* Make the + and - characters unselectable for copy/paste */
.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
}

/* Optional: full-width background color */
.token.inserted:not(.prefix),
.token.deleted:not(.prefix) {
  display: block;
}

.card {
  overflow: hidden;
  border-radius: 0;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  position: relative;
  flex-grow: 1;
  min-height: max-content;
}
.card:hover .card__image, .card:focus .card__image {
  transform: rotate(5deg);
  transform-origin: center center;
}
.card:focus-visible, .card:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.card--viewAll {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 5rem);
  line-height: 1.2;
  color: var(--color-fg);
  background: var(--color-bg);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2rem;
  text-align: right;
}
.card--viewAll:hover p {
  transform: rotate(5deg);
  transform-origin: center center;
}

.card__imageContainer {
  aspect-ratio: 1.75/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--pink);
}
.card__imageContainer *,
.card__imageContainer img,
.card__imageContainer .card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__imageContainer {
  overflow: hidden;
  filter: contrast(150%);
}
.card__imageContainer::before {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  content: "";
  position: absolute;
  transform: rotate(20deg);
  background: radial-gradient(circle at center, #000, #fff);
  background-size: 0.15em 0.15em;
}
.card__imageContainer * {
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.card__imageContainer--large {
  aspect-ratio: 1/1;
}
.card__imageContainer--large *,
.card__imageContainer--large img,
.card__imageContainer--large .card__image {
  height: 100%;
  object-fit: cover;
}

.card__image {
  height: 100%;
  width: auto;
}

.card__inner {
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.card__title {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 3vw, 3rem);
  line-height: 1.2;
  margin-bottom: 0.5rem;
  text-wrap: wrap;
}

.card__description {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--color-fg);
  margin-bottom: 1rem;
  flex-grow: 1;
}

.card__meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  z-index: 10;
  position: absolute;
  top: 0;
  text-align: right;
  width: 100%;
}

.card__metaInfo {
  display: flex;
  flex-direction: column;
}

.card__metaLabel {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--pink);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
}

.card__metaRead {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 2rem;
  line-height: 1.125;
  color: var(--black);
  background-color: var(--white);
  text-transform: uppercase;
  padding: 0.125rem 0.5rem;
}

.card__metaDate {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--white);
  background-color: var(--black);
  font-size: 2rem;
  line-height: 1.125;
  text-transform: uppercase;
  display: flex;
  flex-grow: 0;
  align-self: flex-start;
  padding: 0.125rem 0.5rem;
}

.card__linkButton {
  background: var(--pink);
  display: block;
  border-width: 0;
  border-radius: var(--border-radius-base);
  width: 100%;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0 auto 0.5rem auto;
}

.card__linkButton:focus-visible:focus-visible, .card__linkButton:focus-visible:focus,
.card__linkButton:focus-visible:focus:focus-visible,
.card__linkButton:focus-visible:focus:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.activityFeed {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--feed-max-width);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.activityFeed__header {
  padding: 0 1rem;
}

.talks__cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;
}
.talks__cardGrid li {
  display: flex;
}

.tcwr__title {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-link);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}
.tcwr__title span {
  font-style: italic;
  color: var(--orange);
}

.tcwr__logo {
  max-height: 90%;
  margin: auto;
}

.tcwr__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.tcwr__navItem {
  font-style: italic;
  line-height: 1.2;
  color: var(--color-fg-copy);
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: var(--border-radius-base);
}

.tcwr__navItem--random {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-style: normal;
  color: var(--color-fg-copy);
  border-radius: var(--border-radius-base);
  padding: 0.6rem 1rem;
}

.tcwr__navItem:focus,
.tcwr__navItem:focus-visible {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  box-shadow: inset var(--color-fg) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

.tcwr__membersList {
  padding-inline-start: 0;
  list-style: none;
  max-height: 100px;
  overflow-y: auto;
}

.tcwr__membersListItemLink {
  color: var(--color-fg-copy);
  margin-bottom: 0.25rem;
  display: block;
}

.tcwr__membersListItemLink:focus-visible,
.tcwr__membersListItemLink:focus-visible:focus {
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0.125rem;
  box-shadow: inset var(--color-fg) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease-in-out;
}

.tcwr__join {
  background: linear-gradient(45deg, var(--pink) 0%, var(--orange) 75%);
  display: block;
  border-width: 0;
  border-radius: var(--border-radius-base);
  width: 100%;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 1rem auto 0.5rem auto;
}

.tcwr__join:focus-visible:focus-visible, .tcwr__join:focus-visible:focus,
.tcwr__join:focus-visible:focus:focus-visible,
.tcwr__join:focus-visible:focus:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.video {
  position: relative;
  aspect-ratio: 16/9;
  /* address the magic numbers here, see _reset.scss */
  margin-top: -8rem;
}
@media screen and (min-width: 768px) {
  .video {
    margin-top: -12rem;
  }
}

.video__banner {
  width: 100vw;
  height: 100svh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image: url("/.netlify/images/?url=/img/salma_on_sofa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  filter: contrast(1.1);
  transition: height 0.2s ease-in-out;
}
@media screen and (min-width: 768px) {
  .video__banner {
    height: 60svh;
  }
}

.video__bannerImg {
  width: 100%;
}

.video__headline {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--white);
  text-transform: uppercase;
  font-size: clamp(3rem, 14vw, 13rem);
  opacity: 0.8;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  max-width: var(--global-max-width);
  width: 100%;
  mix-blend-mode: plus-lighter;
  line-height: 0.8;
  margin-left: auto;
  margin-right: auto;
}

.video__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  list-style: none;
  padding-left: 0;
}
.video__grid li {
  display: flex;
}

.video__gridHeader {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: clamp(2.5rem, 3.5vw, 3.5rem);
  line-height: 1.4;
  color: var(--color-fg);
  max-width: var(--post-max-width);
  text-wrap: balance;
}

.video__gridHeader--sub {
  font-weight: var(--font-weight-mid);
  font-family: var(--font-family-main);
  font-size: 1.4rem;
  word-break: break-word;
  hyphens: auto;
}

.video__content {
  max-width: var(--post-max-width);
}
.video__content p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 1rem;
  color: var(--color-fg-copy);
  word-break: break-word;
}
.video__content p a:focus-visible, .video__content p a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.nameLogo {
  font-family: var(--font-family-heading);
  font-weight: 400;
  transform: rotate(5deg) translate(-5px, -16px);
  text-transform: uppercase;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nameLogo__top {
  font-size: clamp(2rem, 7vw, 7.5rem);
}

.nameLogo__bottom {
  font-size: clamp(1rem, 4vw, 3.15rem);
}

@view-transition {
  navigation: auto;
}
::view-transition-group(root) {
  animation-duration: 0.4s;
}

.vt__bioImage {
  view-transition-name: bio-image;
}

.vt__nameLogo {
  view-transition-name: name-logo;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation-duration: 1s;
  }
  .vt__bioImage,
  .vt__nameLogo {
    view-transition-name: none;
  }
}
.vt__bioImage {
  view-transition-name: bio-image;
}

.vt__nameLogo {
  view-transition-name: name-logo;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(root) {
    animation-duration: 1s;
  }
  :root::view-transition-old(bio-image),
  :root::view-transition-new(bio-image),
  :root::view-transition-old(name-logo),
  :root::view-transition-new(name-logo) {
    /* kill the UA’s injected animations */
    animation-name: none !important;
    animation-duration: 0s !important;
    animation-delay: 0s !important;
    animation-fill-mode: none !important;
    animation-iteration-count: 1 !important;
    animation-play-state: paused !important;
    /* force final state */
    opacity: 1 !important;
    transform: none !important;
  }
  .bioImage {
    view-transition-name: none !important;
  }
}
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__newsletter {
  background: var(--color-bg);
  color: var(--color-fg);
  border: 1rem solid var(--color-fg);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
@media screen and (min-width: 900px) {
  .footer__newsletter {
    flex-direction: row;
  }
}

.footer__newsletterContent {
  order: 2;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .footer__newsletterContent {
    order: 1;
  }
}

.footer__newsletterImg {
  object-fit: cover;
  order: 1;
}
@media screen and (min-width: 900px) {
  .footer__newsletterImg {
    order: 2;
  }
}
.footer__newsletterImg {
  overflow: hidden;
  filter: contrast(150%);
}
.footer__newsletterImg::before {
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  content: "";
  position: absolute;
  transform: rotate(20deg);
  background: radial-gradient(circle at center, #000, #fff);
  background-size: 0.15em 0.15em;
}
.footer__newsletterImg * {
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.footer__newsletterTitle {
  text-transform: uppercase;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.footer__newsletterTitle span {
  display: inline-block;
  filter: url(#distort_from_footer);
  transform: rotate(-5deg);
  color: var(--pink);
}

.footer__newsletterCopy {
  font-size: clamp(2rem, 3.5vw, 2.25rem);
}
.footer__newsletterCopy em {
  font-family: var(--font-family-serif);
  font-weight: 700;
}

.footer__newsletterForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__newsletterInputRow {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .footer__newsletterInputRow {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer__newsletterLabel {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
}

.footer__newsletterInput {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--white);
  color: var(--black);
  border: var(--black) 0.25rem solid;
  border-radius: var(--border-radius-base);
  font-size: 1.5rem;
  padding: 1rem;
  flex: 1 1 auto;
}
.footer__newsletterInput:focus-visible, .footer__newsletterInput:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}
.footer__newsletterInput::placeholder {
  color: var(--input-color);
  opacity: 0.7;
}

.footer__newsletterSubmit {
  flex: 1 1 auto;
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  background: var(--green);
  color: var(--black);
  border: var(--black) 0.25rem solid;
}
.footer__newsletterSubmit:focus-visible, .footer__newsletterSubmit:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}
.footer__newsletterSubmit:focus-visible, .footer__newsletterSubmit:focus {
  background: var(--color-bg);
  color: var(--color-fg);
}

.footer__newsletterPowered {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-bg);
}
.footer__newsletterPowered:focus-visible, .footer__newsletterPowered:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.svg__filter {
  position: absolute;
}

.footer__links {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 900px) {
  .footer__links {
    flex-direction: row;
    gap: 2rem;
  }
}
.footer__links a {
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-fg);
  font-size: clamp(1.5rem, 2vw, 2rem);
  text-decoration: underline;
  text-underline-offset: clamp(0.25rem, 0.5vw, 0.5rem);
  text-decoration-thickness: 0.5rem;
}
.footer__links a:focus-visible, .footer__links a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.footer__social {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer__social a {
  color: var(--color-fg);
  filter: url(#distort_from_footer);
}
.footer__social a:focus-visible, .footer__social a:focus {
  outline-color: var(--pink);
  outline-style: solid;
  outline-width: 0.25rem;
  outline-offset: -0.25rem;
}

.footer__aside {
  background: var(--pink);
  font-family: var(--font-family-heading);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--white);
  font-size: clamp(2rem, 4vw, 2.5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

/*# sourceMappingURL=main.css.map */
