@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans SemiBold";
  src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans Bold";
  src: url("/fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
:root {
  --white: #ffffff;
  --color-bg-lighter: #2b2e3a;
  --red: #f11012;
  --green: #82af3a;
  --black: #0f111a;
  --white: #ffffff;
  --yellow: #ffb626;
  --font-family-bold: "Work Sans Bold", sans-serif;
  --font-weight-bold: 700;
  --font-family-heading: "Work Sans SemiBold", sans-serif;
  --font-weight-heading: 500;
  --font-family-main: "Work Sans Light", sans-serif;
  --font-weight-main: 300;
  --border-radius-base: 0.375rem;
  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-link: var(--color-fg);
  --color-highlight: var(--yellow);
  --post-max-width: 980px;
  --grid-max-width: 1280px;
  --yellow-red-gradient: linear-gradient(45deg, var(--red), var(--yellow));
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  background-color: var(--color-bg);
  color: var(--color-fg);
  padding: 1rem 2rem;
}

a {
  color: var(--color-link);
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: transparent;
  box-shadow: var(--color-link) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
  border-radius: var(--border-radius-base);
}

a:visited {
  color: var(--color-link);
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.grid {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
}

.grid__header {
  margin: 4rem auto 2rem auto;
  max-width: var(--grid-max-width);
}

.grid__header:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.grid__headerTitle {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
  font-size: 2rem;
}

.grid__item {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.grid__itemTitle {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-decoration: none;
  color: var(--color-fg);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.grid__itemTitle:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.header__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: var(--grid-max-width);
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .header__content {
    margin-bottom: 6rem;
    flex-direction: row;
  }
}
[data-type=post] .header__content,
[data-type=talk] .header__content {
  max-width: var(--post-max-width);
}

.header__skipToMainContent {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  display: flex;
  justify-content: center;
  color: var(--color-bg);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.header__skipToMainContent:focus {
  color: var(--color-highlight);
}

.header__logoContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header__logoContainerLink {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.header__logoContainerLinkName {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.header__logoContainerLink svg {
  height: 100%;
  width: auto;
}

.header__navList {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__navListItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header__navListItemLink:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  margin-top: 0.25rem;
  display: block;
  background: var(--yellow-red-gradient);
}

.footer {
  max-width: var(--grid-max-width);
  margin: 4rem auto;
}

.footer:before {
  content: "";
  width: 100%;
  height: 0.25rem;
  margin-bottom: 2rem;
  display: block;
  background: var(--yellow-red-gradient);
}

.footer__copyright {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
  text-align: left;
}

.footer__text {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1rem;
  color: var(--color-fg);
  margin-bottom: 1rem;
  text-align: left;
}

.footer__links {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 2rem;
  margin-bottom: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.footer__link {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer__linkIcon {
  margin-right: 0.5rem;
}

.topics {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.topics__listItemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 0.25rem solid transparent;
}

.topics__listItemLink--selected {
  border-color: var(--color-highlight);
}

.topics__listItemImg {
  margin-right: 0.5rem;
  display: flex;
}

.topics__listItemName {
  display: flex;
}

.topics__listItemArrow {
  margin-left: 0.5rem;
}

.post {
  max-width: var(--post-max-width);
  margin: auto;
}

@media screen and (min-width: 768px) {
  .post {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
  }
}
.post__article {
  display: flex;
  flex-direction: column;
}

.post__aside {
  flex-direction: column;
  display: none;
}

.post__asideStickyGroup {
  position: sticky;
  top: 0;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 4rem;
  padding-right: 1rem;
}

.post__inlineAside {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .post__aside {
    display: flex;
  }

  .post__inlineAside {
    display: none;
  }
}
.post__body {
  margin-bottom: 2rem;
}

.post__hr {
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post__hr:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.post__h1 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-bottom: 2rem;
  font-size: clamp(2.2rem, 3vw, 3rem);
  line-height: 1.2;
  color: var(--color-fg);
}

.post__h1:after {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 2rem;
  background: var(--yellow-red-gradient);
}

.post__h2 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__h3 {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.4rem;
  line-height: 1.4;
  padding-top: 2rem;
  margin-bottom: 2rem;
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-highlight);
}

a.post__linkedHeaderIcon {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}

.post__h4,
.post__h5,
.post__h6 {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-fg);
}

.post__p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
}

.post__p--bold {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-heading);
}

.post__p--italic {
  font-style: italic;
}

.post__responsiveImage {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post__codeBlock {
  margin-bottom: 1rem;
}

.post__blockquote {
  display: block;
  background-color: var(--color-fg);
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius-base);
}

.post__blockquote p {
  color: var(--color-bg);
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: 600px) {
  .post__blockquote {
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }
}
.post__blockquote:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='44px' width='44px'%3E%3Cpath fill='%2382af3a' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z' /%3E%3C/svg%3E%0A");
}

.post__externalUrl,
.post__isSponsored {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 2rem;
  max-width: max-content;
  background-color: var(--color-highlight);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--color-bg) !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  word-wrap: break-word;
}

.post__isSponsoredIcon,
.post__externalUrlIcon {
  margin-right: 0.5rem;
  display: flex;
}

.post__related {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__relatedHeader {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-highlight);
  margin-bottom: 1rem;
}

.pagination {
  margin: 4rem auto;
  max-width: var(--grid-max-width);
}

.pagination__description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pagination__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.pagination__listItem {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  font-size: 1.2rem;
  text-decoration: none;
}

.pagination__listItem a {
  color: inherit;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination__listItem a:hover {
  color: var(--color-highlight);
  transition: color var(--global-transition-time) ease-in-out;
}

.pagination__listItem a:focus {
  outline-color: transparent;
  box-shadow: var(--color-fg) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0.2s;
}

.pagination__listItem a:focus:active {
  outline: none;
  box-shadow: unset;
}

.pagination__icon {
  color: var(--color-highlight);
}

.pagination__icon--prev {
  margin-right: 0.5rem;
}

.pagination__icon--next {
  margin-left: 0.5rem;
}

.pagination__icon--disabled {
  color: var(--color-fg);
}

.publishedDate {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.publishedDate__item {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .publishedDate__item {
    font-weight: var(--font-weight-main);
    font-family: var(--font-family-main);
    justify-content: flex-start;
  }
}
.publishedDate__icon {
  margin-right: 0.5rem;
  color: var(--color-highlight);
}

.tableOfContents {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tableOfContents__list {
  list-style: none;
  padding: 0;
}

.tableOfContents__header {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--color-highlight);
  cursor: pointer;
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--color-fg);
  text-decoration: none;
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}

.blogSidebarTopics {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.blogSidebarTopics__item {
  margin-bottom: 0.75rem;
  display: block;
  max-width: max-content;
}

.blogSidebarTopics__itemLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
}

.blogSidebarTopics__itemIcon {
  margin-right: 0.5rem;
}

.blogSidebarAuthor {
  margin-bottom: 2rem;
  text-align: center;
}

.blogSidebarAuthor__cta {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.blogSidebarAuthor__imgContainer {
  max-width: 8rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.blogSidebarAuthor__imgContainer img {
  border: 0.25rem solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(white, white), var(--yellow-red-gradient);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@media screen and (min-width: 768px) {
  .blogSidebarAuthor {
    text-align: left;
  }

  .blogSidebarAuthor__imgContainer {
    margin-left: unset;
    margin-right: unset;
  }
}
.postCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.postCard:before {
  content: "";
  width: 100%;
  height: 0.25rem;
  display: block;
  margin-top: 1rem;
  background: var(--yellow-red-gradient);
}

.postCard__meta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  padding-top: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-fg);
}

.postCard__metaIcon {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  color: var(--color-highlight);
}

.postCard__titleLink {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  text-decoration: none;
  color: var(--color-fg);
  font-size: 1.7rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.postCard__titleLink--ais {
  display: block;
}

.postCard__topics {
  display: flex;
  flex-direction: column;
}

.topicsButton {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topicsButton__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topicsButton__listItem {
  display: inline-block;
  margin-right: 0.5rem;
}

.topicsButton__arrow {
  color: var(--color-fg);
}

.homeCard {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeCard__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.homeCard__linkForTitle {
  text-decoration: none;
}

.homeCard__topics {
  display: flex;
  flex-direction: column;
}

.homeCard__excerpt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.homeCard__excerpt p {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: block;
}

.homeCard__button {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.homeCard__buttonIcon {
  margin-right: 0.5rem;
}

.homeCard__buttonArrow {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}

.nextTwitchStream {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nextTwitchStream__meta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: var(--color-fg);
}

.nextTwitchStream__metaIcon {
  color: var(--color-highlight);
  margin-right: 0.5rem;
}

.nextTwitchStream__title {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  color: var(--color-fg);
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.nextTwitchStream__noStream {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  color: var(--color-highlight);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.nextTwitchStream__streamInfo {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-fg);
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nextTwitchStream__cta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--color-bg-lighter);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nextTwitchStream__ctaIcon {
  margin-right: 0.5rem;
}

.nextTwitchStream__liveNow {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-bold);
  background-color: var(--color-highlight);
  color: var(--color-bg);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-base);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.nextTwitchStream__liveNowText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nextTwitchStream__liveNowText:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  animation: flash 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .nextTwitchStream__liveNowText:before {
    animation: none;
  }
}
.speakerDeckLink__viewCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  max-width: max-content;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.videoEmbed__cta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--color-highlight);
}

.seeAllCta {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  word-break: break-word;
}

.ais {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.ais__hitsContainer {
  position: relative;
  display: none;
  min-height: 20rem;
}

.ais__hits--empty {
  max-width: var(--grid-max-width);
  margin-left: auto;
  margin-right: auto;
}

.ais__emptyMessage {
  font-weight: var(--font-weight-heading);
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.ais__hitsList {
  list-style: none;
  padding-left: 0;
  display: grid;
  max-width: var(--grid-max-width);
  margin: auto;
  gap: 1rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
}

.ais__hitsListItem {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ais__hitsListItem mark {
  color: var(--color-bg);
  background-color: var(--color-highlight);
}

.ais__form {
  display: block;
  position: relative;
  width: 100%;
}

.ais__input {
  font-weight: var(--font-weight-main);
  font-family: var(--font-family-main);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-bg-lighter);
  color: var(--color-fg);
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.ais__input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  color: var(--color-highlight);
  cursor: pointer;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='16' width='16'%3E%3Cpath fill='%23ffb626' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z' class=''%3E%3C/path%3E%3C/svg%3E");
}

.ais__input:focus-visible {
  outline-color: transparent;
  box-shadow: var(--color-highlight) 0 0 0 0.125rem;
  transition: box-shadow var(--global-transition-time) ease 0.2s;
}

.ais__input::placeholder {
  color: var(--color-highlight);
}

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #ffffff;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1rem;
  margin: 0.5rem 0;
  overflow: auto;
  border-radius: 0.3rem;
}

/* MY FIXES: https://whitep4nth3r.com/blog/how-to-make-your-code-blocks-accessible-on-your-website */
code[class*=language-] {
  white-space: pre-wrap;
  word-break: break-all;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: var(--color-bg-lighter);
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #adb8c2;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc92b6;
}

.token.boolean,
.token.number {
  color: #c9b0f6;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #f3a344;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* START TEMP */
header {
  margin-bottom: 4rem;
}

main {
  margin: auto;
}

.colorHighlight {
  color: var(--color-highlight);
}

/* END TEMP */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--color-bg-lighter);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
