:root {
  --white: #ffffff;
  --grey-dark: #2b2e3a;

  --red: #f11012;
  --green: #82af3a;
  --black: #0f111a;
  --white: #ffffff;
  --yellow: #ffb626;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-heading: "Work Sans", sans-serif;
  --font-family-main: "Work Sans", sans-serif;

  --border-radius-base: 0.375rem;

  --color-bg: var(--black);
  --color-fg: var(--white);
  --color-link: var(--color-fg);
  --color-highlight: var(--yellow);

  --topic-button-bg: var(--grey-dark);
  --topic-button-color: var(--white);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  font-family: var(--font-family-main);
  background-color: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-link);
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

a:hover {
  cursor: pointer;
}

a:focus {
  outline: transparent;
  box-shadow: var(--color-link) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
  border-radius: var(--border-radius-base);
}

a:visited {
  color: var(--color-link);
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-family: var(--font-family-heading);
}

img {
  max-width: 100%;
  height: auto;
}

/* START TEMP */
header {
  margin-bottom: 4rem;
}

main {
  max-width: 800px;
  margin: auto;
}

/* END TEMP */

.post {
  display: grid;
}

@media screen and (min-width: 768px) {
  .post {
    grid-template-columns: 1fr 3fr;
    column-gap: 3rem;
  }
}

.post__article {
  display: flex;
  flex-direction: column;
}

.post__aside {
  display: flex;
  flex-direction: column;
}

.post__asideGroup {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post__h1 {
  margin-bottom: 3rem;
  font-size: clamp(2.2rem, 3vw, 3rem);
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-highlight);
}

.post__h2 {
  font-size: clamp(1.8rem, 2.8vw, 2rem);
  line-height: 1.4;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__h3 {
  font-size: 1.4rem;
  line-height: 1.4;
  padding-top: 2rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-highlight);
  word-break: break-word;
  hyphens: auto;
}

.post__linkedHeaderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-highlight);
}

a.post__linkedHeaderIcon {
  color: var(--color-highlight);
  margin-left: 0.5rem;
}

.post__h4,
.post__h5,
.post__h6 {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-fg);
}

.post__p {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-fg);
  word-break: break-word;
}

.post__p--bold {
  font-weight: var(--font-weight-bold);
}

.publishedDate {
  margin-bottom: 2rem;
}

.publishedDate__item {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.publishedDate__icon {
  margin-right: 0.5rem;
  color: var(--color-highlight);
}

.isSponsored {
}

.externalUrl {
  margin-bottom: 0.75rem;
  display: block;
  width: max-content;
}

.externalUrl__link {
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.tableOfContents {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.tableOfContents__header {
  list-style: none;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  color: var(--color-highlight);
}

.tableOfContents__item {
  margin-bottom: 0.75rem;
}

.tableOfContents__itemLink {
  font-size: 0.8rem;
  line-height: 1.2;
  color: var(--color-fg);
}

.tableOfContents__item--nudged {
  padding-left: 1rem;
}

.blogSidebarTopics {
  list-style: none;
  padding-left: 0;
}

.blogSidebarTopics__item {
  margin-bottom: 0.75rem;
  display: block;
  width: max-content;
}

.blogSidebarTopics__itemLink {
  background-color: var(--topic-button-bg);
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: var(--topic-button-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
}

.blogSidebarTopics__itemIcon {
  margin-right: 0.75rem;
}

.blogSidebarAuthor {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blogSidebarAuthor__header {
  margin-bottom: 1rem;
  text-align: center;
}

.blogSidebarAuthor__imgContainer {
  margin: 1rem auto;
  max-width: 8rem;
  display: block;
}

.blogSidebarAuthor__imgContainer * {
  border-radius: 50%;
}

.blogSidebarAuthor__bio {
  font-size: 0.75rem;
}
