---
title: "404: Page not found"
permalink: 404.html
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="robots" content="noindex" />

    <title>{{ title }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- Meta -->
    <meta name="description" content="This page doesn't exist. Please try another one." />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0f111a" />
    <meta name="msapplication-TileColor" content="#0f111a" />
    <meta name="theme-color" content="#0f111a" />
  </head>
  <body data-type="404">
    {% include "header.html" %}
    <main id="main_content">
      <div class="fourohfour__content">
        <h1 class="fourohfour__title">404: Oh no.</h1>
        <p class="fourohfour__text">
          The 404 or Not Found is an HTTP error message meaning the web server could be contacted, but the file or
          webpage trying to be accessed could not be found. It appears when the URL clicked on was moved or renamed, or
          does not exist (as a result of deletion, for example).
        </p>
        <p class="fourohfour__text"><em>Good luck out there.</em></p>
      </div>
    </main>
    {% include "footer.html" %}
  </body>
</html>
